/*==============================
   customer-management-common
==============================*/

/*cm-tab-nav*/
.cm-tab-nav{
  height: 50px;
  border-bottom: 1px solid #d1d1d1;
}
.cm-tab-nav .tabpanel__list{
  border-width:0;
}

.pull-left .form-item--inline{
  float: left;
}
.pull-right .button{
  float: right;
}
/*add Status Badge*/
.status-badge--prospective{
  color: #474747;
  background-color: #B8EC79;
  border: 1px solid #A6CC77;
}
.status-badge--dark{
  color: #fff;
  background-color: #474747;
}

/*==============================
   party-common
==============================*/

/*party-summary*/
.party-summary{
  background-color: rgba(0,0,0,.1);
  padding-top:30px;
  padding-bottom: 30px;
}
@media only screen and (min-width: 768px){
  .party-summary{
    margin-top: -1.5rem;
    margin-bottom: -0.375rem;
  }
}
.customer-summary{
  background-image:url(../img/main_bg_grey.png);
}

.party-summary__info{
  float: left;
  margin:0;
}
.party-summary__avatar{
  float: left;
  margin-right: 20px;
  width:80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background-color: #80C4E8;
  border-radius: 2px;
  font-size: 30px;
}
.party-summary__detail{
  overflow: hidden;
}
.party-summary__id,
.party-summary__registration-time{
  color: #A7C1D1;
}
.customer-summary .party-summary__id{
  color: #666;
}
.party-summary__id{
  margin-left:5px;
  margin-right: 10px;
}
.party-summary__detail .status-badge{
  margin-bottom: 10px;
}
.party-summary__role-list{
  float: right;
  padding-top:25px;
}
.party-summary__role-list li{
  float: left;
  margin-left:20px;

}

/*party-summary__role-list*/
.party-summary__role-list .circle-background,
.party-summary__role-list .circle-background:after{
  width:40px;
  height: 40px;
}
.party-summary__role-list li span{
  color: #C2E2F2;
  font-size: 24px;
}
.party-summary__role-list li .circle-background.with-border:after{
  border-color:#80C4E8;
}
.party-summary__role-list li.current .circle-background:before{
  color: #038CD6;
}
.party-summary__role-list li.current .circle-background:after{
  background-color: #fff;
}



/*party-search-page*/
.party-advanced-search{
  position: relative;
}
.party-advanced-search .bullet-link{
  position: absolute;
  right:0;
  top:10px;
}
.party-advanced-search .tabpanel{
  width:100%;
}
.party-advanced-search .tabpanel__content-wrapper{
  border-top: 1px solid #d1d1d1;
}


/*==============================
          customer
=================================*/
.customer-summary .party-summary__avatar{
  width:60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  color: #fff;
}


