.doc-compontent-box > h3 {
  font-size: 1.875rem;
  line-height: 1;
  font-size: 2.25rem;
  font-family: "telenorlight", sans-serif;
  padding: 30px 0;
}

.doc-compontent {
  /*padding: 0 1.25rem;*/
  /*font-size: 0.688rem;*/
  position: relative;
  /*background: #f0f0f0;*/
  border: 1px solid #b8b8b8;
  /*border-bottom: 1px solid #e0e0e0;*/
  border-top: 0;
  color: #474747;
  /*height: 40px;*/
  /*padding:1.875rem 1.25rem*/
}

.doc-compontent:before {
  background-color: #43c682;
  background: -webkit-linear-gradient(0deg, #43c682, #1db7bb, #038cd6);
  background: linear-gradient(90deg, #43c682, #1db7bb, #038cd6);
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  right: -1px;
  height: 3px;
}

.sg-component__label {
  color: #d1d1d1;
  margin-bottom: .5em;
  margin-top: 1.5em;
  clear: both;
}

.block {
  padding: 1.25rem;
}

.box--blue, .title--section, .box--yellow, .box--yellow-light, .box--purple, .box--green {
  padding: 0.688rem 0.625rem 0.563rem;
  /*background: #038cd6;*/
  overflow: hidden;
  position: relative;
}

/*iconFrame.css by tangll 2016-8-10*/
.sg-content {
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.sg-content-item .sg-component__status:before {
  display: none;
}

.sg-content-item .sg-component__status {
  border-top: 1px solid #d1d1d1;
}

.sg-content .sg-component__status {
  border-bottom: 1px solid #d1d1d1;
}

.sg-icons-list__item [class^="icon"] {
  font-size: 65px;
  line-height: 1;
}

.sg-icons-list {
  margin-top: 50px;
}

.sg-icons-list__item {
  width: 160px;
  height: 165px;
  padding-left: 20px;
  text-align: center;
  float: left;
}

.sg-icons-list__item .sg-component__label {
  text-align: left;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: .5em;
  margin-bottom: .5em;
}

.sg-component__label.sg-component__label--small {
  margin-bottom: 1.5em;
  margin-top: .2em;
  font-size: 0.813rem;
  line-height: .9375rem;
}

.sg-component {
  margin: 0 0 6.25rem 0;
  position: relative;
  background: #fff;
  border-color: #b8b8b8;
  border-style: solid;
  border-width: 0;
}

.sg-component__markup {
  padding: 1.875rem 1.25rem;
  width: 100%;
  border-color: #d1d1d1;
  border-style: solid;
  border-width: 0 1px 1px;
  overflow: hidden;
}

.sg-component .sg-component__markup > .sg-component__label:first-child {
  margin-top: 0;
}

.sg-markdown h2 {
  font-family: "telenor", sans-serif;
  font-weight: bold;
  line-height: 1.6em;
  margin-bottom: .6em;
  margin-top: 2em;
}

.sg-markdown figure {
  margin: 0;
}

.sg-component pre {
  margin: 0;
  overflow-x: auto;
  overflow-y: hidden;
  background: #f0f0f0;
  border-color: #bababa;
  border-style: solid;
  border-width: 0;
}

.sg-main-menu {
  position: fixed;
  height: 100vh;
  overflow-y: scroll;
  background: #404040;
  width: 260px;
}

.sg-main-content {
  margin-left: 260px;
  padding: 0 45px 45px;
  position: relative;
}

.sg-logo {
  padding: 25px 20px;
}

.sg-form-search [type="search"] {
  background: #333;
  color: #a6a6a6;
  border: none;
  padding: 20px 10px;
  height: 62px;
}

.sg-form-search input:not([disabled]):hover,
.sg-form-search input:not([disabled]):hover ~ .form-search__submit,
.sg-form-search [type="search"]:focus,
.sg-form-search input:focus ~ .form-search__submit {
  border: none;
  background: #333;
}

.sg-form-search .form-search__submit {
  border: none;
  background: none;
  color: #a6a6a6;
}

.sg-code {
  background: #dfeff7;
  padding: 20px 20px 20px 45px;
}

pre {
  white-space: pre-wrap;
}

.sg-souce-button {
  background: #fff;
  padding: 0 20px;
  color: #0095e6;
  border: none;
  outline: none;
  height: 30px;
  font-size: 14px;
  transition-property: background;
  transition-duration: .3s;
  transition-delay: 1s;
}

.sg-souce-button.is-expanded {
  background: #dfeff7;
  transition-duration: 1s;
  transition-delay: 0s;
}

.sg-loader {
  height: 100%;
}

.sg-nav > li {
  border-top: 1px solid #4d4d4d;
}

.sg-nav__inner {
  padding: 10px 0;
  background: #333;
  border-top: 1px solid #4d4d4d;
}

.sg-main-menu__type {
  background-color: #404040;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.sg-main-menu__type .icon {
  position: absolute;
  font-size: 10px;
  right: 10px;
  top: 65%;
  transform: translateY(-50%);
}

.sg-main-menu__type .icon-arrow-down,
.sg-main-menu__type.is-expanded .icon-arrow-next {
  display: none;
}

.sg-main-menu__type.is-expanded .icon-arrow-down,
.sg-main-menu__type .icon-arrow-next {
  display: block;
}

.sg-main-menu__link {
  transition: all .3s;
  color: #808080;
  display: block;
  padding: 0 10px;
}

.sg-main-menu__link:hover {
  color: #fff;
  text-decoration: none;
}

.sg-section-title {
  margin: 0 -45px 20px;
  padding: 20px 45px;
  background: #fff;
}

.sg-note {
  padding: 20px 30px;
  border-left: 5px solid #0095e6;
}

.sg-loader {
  position: fixed;
  left: 260px;
  top: 0;
  right: 0;
  z-index: 4;
}

.sg-loader.loader--busy-mode {
  height: 100vh;
}

@media only screen and (max-width: 480px) {
  .sg-main-menu {
    position: static;
    height: auto;
    width: auto;
    overflow-y: auto;
    padding-bottom: 20px;
  }

  .sg-main-content {
    overflow: hidden;
    padding: 20px;
    margin: 0;
  }

  .sg-loader {
    display: none;
  }
}

/*.block__header {
    padding-bottom: 0.938rem;
    border-bottom: 1px solid #d1d1d1;
    position: relative;
}*/
[class^="trailing-border"], [class*=" trailing-border"] {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 10px;
}

/*flex layout */
.demo-bg {
  border: 1px solid #ccc
}

.demo-bg > .grid-row, .demo-bg > .flex-row, .demo-bg.flex-column, .demo-bg.flex-row {
  background-image: linear-gradient(90deg, #F5F5F5 8.33333333%, #fdfdfd 8.33333333%, #fdfdfd 16.6666667%, #F5F5F5 16.6666667%, #F5F5F5 25%, #fdfdfd 25%, #fdfdfd 33.3333333%, #F5F5F5 33.3333333%, #F5F5F5 41.6666666%, #fdfdfd 41.6666666%, #fdfdfd 50%, #F5F5F5 50%, #F5F5F5 58.3333333%, #fdfdfd 58.3333333%, #fdfdfd 66.6666666%, #F5F5F5 66.6666666%, #F5F5F5 75%, #fdfdfd 75%, #fdfdfd 83.3333333%, #F5F5F5 83.3333333%, #F5F5F5 91.6666666%, #fdfdfd 91.6666666%)
}

.demo-bg [class^=col-] {
  line-height: 40px;
}

.demo-bg [class*=col-] {
  background-color: rgba(72, 174, 255, 0.27);
  box-shadow: inset 1px 1px rgba(78, 78, 78, 0.1), inset -1px -1px rgba(78, 78, 78, 0.1);
  line-height: 40px;
  text-align: center;
}

/*by emilie 2016-8-12*/
/*common*/
.pull-left {
  float: left;
}

.pull-right {
  float: right
}

/*end*/
.section--block {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  background-color: transparent
}

@media only screen and (max-width: 37.438em) {
  .section--block {
    margin-right: 0.313rem;
    margin-left: 0.313rem
  }
}

@media only screen and (min-width: 37.5em) and (max-width: 63.938em) {
  .section--block {
    margin-right: 0.625rem;
    margin-left: 0.625rem
  }
}

@media only screen and (min-width: 64em) {
  .section--block .align-bottom {
    margin-bottom: -3.125rem
  }
}

@media only screen and (min-width: 64em) {
  .section--block .align-top {
    margin-top: -3.125rem
  }
}

.sg-component:after {
  content: "";
  display: table;
  clear: both
}

/*header title*/
.sg-component__header {

}

.title--medium-small {
  font-size: 1.875rem;
  line-height: 1;
}

/*[class^="title--"] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}*/

/*[class^="title--"],[class*=" title--"] {
    font-family: "telenorlight", sans-serif;
    font-weight: normal;
    display: block
}*/
.title--xsmall {
  font-size: 1.188rem;
  line-height: 1;
  font-weight: normal;
}

/*component staus*/
.sg-component__status {
  position: relative;
  padding: 0 1.25rem;
  font-size: 0.688rem;
  background: #f5f5f5;
  border: 1px solid #d1d1d1;
  border-bottom:0;
  border-top: 0;
  color: #474747;
  height: 42px;
}

.sg-content .sg-component__status {
  border-bottom: 1px solid #d1d1d1
}

.sg-component__status .status-dot {
  color: #474747
}

.sg-component__status > * {
  line-height: 2.563rem
}

.sg-component__status:before {
  background-color: #43c682;
  background: -webkit-linear-gradient(0deg, #43c682, #1db7bb, #038cd6);
  background: linear-gradient(90deg, #43c682, #1db7bb, #038cd6);
  content: "";
  position: absolute;
  top: 0;
  left: -1px;
  right: -1px;
  height: 3px
}

/*code*/
.sg-component__code-example {
  margin-top: 1.25rem;
  border: 1px solid #d1d1d1;
  border-radius: 3px;
  background: #f0f0f0;
}

.sg-component__code-example pre {
  position: relative;
  height: 100px
}

.sg-component__code-example pre.is-open {
  height: auto
}

.sg-component__code-example pre:before {
  content: "";
  background: -webkit-linear-gradient(270deg, rgba(255, 255, 255, 0), #fff);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.sg-component__code-example pre.is-open:before {
  background: transparent;
}

.sg-component__code-example h3 {
  background: #fff;
}

.sg-component__expand {
  text-align: center;
  margin-top: 20px;
  z-index: 1;
  position: relative;
}

/**
 doc Lines and fills
 add by zengmy
*/
.sg-lines-and-fills__colors-bg{
  height: 50px;
}
.sg-lines-and-fills__line-negative{
  position: relative;
  top: -25px;
}

/**
 doc menu
 add by zengmy
*/
.offcanvas{
  height: 100%;
}
.nav-mobile__container{
  position: absolute;
}
.side-panel,
.offcanvas .section--oncanvas.is-disabled:after{
  position: absolute;
}

/*margin padding等样式说明表格*/
.table--all-lines thead tr:last-child {
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.table--all-lines thead tr:last-child th {
  line-height: 1;
  padding: 0.5rem 1.25rem;
  border-right: 1px solid #e8e8e8;
}
.table--all-lines tr td{
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8;
}
.table--all-lines tr td:last-child {
  line-height: 1;
  padding: 0.5rem 1.25rem;
  border-right: 1px solid #e8e8e8;
}
.doc-css-guide ul > li {
  padding-left: 0px;
  color: rgb(184, 184, 184);
  list-style: initial;
}



[class^="title--"] {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}
[class^="title--"],[class*=" title--"] {
  font-family:"telenorlight", sans-serif;
  font-weight:normal;
  display:block
}
[class^="title--"] strong,[class*=" title--"] strong {
  font-family:"telenor", sans-serif;
  font-weight:bold
}
[class^="title--"] a:hover,[class*=" title--"] a:hover {
  color:#038cd6
}
.title--xxxlarge {
  font-size:12rem;
  line-height:1
}
.title--huge {
  font-size:5.25rem;
  line-height:1
}
@media only screen and (max-width: 37.438em) {
  .title--huge {
    font-size:4.5rem;
    line-height:1
  }
}.title--xxlarge {
   font-size:4.5rem;
   line-height:1
 }
@media only screen and (max-width: 37.438em) {
  .title--xxlarge {
    font-size:3.375rem;
    line-height:1.1
  }
}.title--xlarge,.text--content h1 {
   font-size:3.375rem;
   line-height:1.1;
   margin-left:-.06em
 }
@media only screen and (max-width: 37.438em) {
  .title--xlarge,.text--content h1 {
    font-size:2.75rem;
    line-height:1
  }
}.title--large,.text--content h2 {
   font-size:2.75rem;
   line-height:1;
   margin-left:-.075em
 }
.title--medium,.title--section,.text--content h3 {
  font-size:2.25rem;
  line-height:1;
  margin-left:-.04em
}
.box--blue .title--medium,.title--section .title--medium,.box--yellow .title--medium,.box--yellow-light .title--medium,.box--purple .title--medium,.box--green .title--medium,.box--blue .title--section,.title--section .title--section,.box--yellow .title--section,.box--yellow-light .title--section,.box--purple .title--section,.box--green .title--section,.box--blue .text--content h3,.text--content .box--blue h3,.title--section .text--content h3,.text--content .title--section h3,.box--yellow .text--content h3,.text--content .box--yellow h3,.box--yellow-light .text--content h3,.text--content .box--yellow-light h3,.box--purple .text--content h3,.text--content .box--purple h3,.box--green .text--content h3,.text--content .box--green h3 {
  font-size:1.313rem;
  line-height:1.2
}
@media only screen and (min-width: 37.5em) {
  .box--blue .title--medium,.title--section .title--medium,.box--yellow .title--medium,.box--yellow-light .title--medium,.box--purple .title--medium,.box--green .title--medium,.box--blue .title--section,.title--section .title--section,.box--yellow .title--section,.box--yellow-light .title--section,.box--purple .title--section,.box--green .title--section,.box--blue .text--content h3,.text--content .box--blue h3,.title--section .text--content h3,.text--content .title--section h3,.box--yellow .text--content h3,.text--content .box--yellow h3,.box--yellow-light .text--content h3,.text--content .box--yellow-light h3,.box--purple .text--content h3,.text--content .box--purple h3,.box--green .text--content h3,.text--content .box--green h3 {
    font-size:2.75rem;
    line-height:1
  }
}@media only screen and (max-width: 37.438em) {
  .title--medium,.title--section,.text--content h3 {
    font-size:1.875rem
  }
}.title--article {
   font-size:2.25rem;
   line-height:1;
   line-height:1.25
 }
.title--banner-small {
  font-size:1.313rem;
  line-height:1.2;
  font-family:"telenorlight", sans-serif;
  font-weight:normal;
  line-height:1
}
.title--banner-small strong {
  font-family:"telenor", sans-serif;
  font-weight:bold
}
.title--medium-small {
  font-size:1.875rem;
  line-height:1
}
.title--small {
  font-family:"telenor", sans-serif;
  font-weight:normal;
  font-size:1.188rem;
  line-height:1;
  margin-bottom:10px
}
@media only screen and (min-width: 37.5em) {
  .title--small{
    font-size:1.313rem;
    line-height:1.2
  }
}
.title--xsmall {
  font-size:1.188rem;
  line-height:1;
  font-family:"telenor", sans-serif;
  font-weight:normal
}
.title--xxsmall {
  font-size:1rem;
  line-height:1;
  font-family:"telenor", sans-serif
}
.title--table {
  font-size:1rem;
  line-height:1;
  font-family:"telenor", sans-serif;
  font-weight:bold;
  margin-bottom:10px
}
.title--block {
  padding-bottom:0.625rem;
  margin-top:3.125rem;
  margin-bottom:1.25rem;
  border-bottom:1px solid #b8b8b8
}
.title--multiline {
  line-height:1.6em
}
.title--strong {
  font-weight:700
}

/*block__header*/
.block__header {
  padding-bottom: 0.625rem;
  border-bottom: 1px solid #b8b8b8;
  position: relative;
}

.block__header--no-border-bottom {
  border-bottom: 0;
}

.block__header [class*="title--"] {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .block__header__link {
    position: absolute;
    right: 0;
    bottom: .625rem;
    text-align: right;
  }
}

.block__header__link a {
  color: #666;
}

.block__header__link a:hover {
  color: #666;
}

.block--list--thumbs .block__header {
  border-bottom: 0;
}

.block__header-rider {
  /*margin-bottom: 2.5px;*/
  color: #666;
}

.block__header-rider--small {
  font-size: 0.813rem;
  line-height: 18px;
}

.block__content {
  padding: 1.563rem 0 3.125rem;
}
