<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../assets/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="../../assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/telenor.min.css" rel="stylesheet" type="text/css">
    <script src="../../assets/js/jquery.js" type="text/javascript"></script>
    <title>index</title>
</head>
<!--“offcanvas--open”侧边栏滑出-->
<body class="offcanvas">
<!--'is-disabled'侧边栏 滑出时添加-->
<div class="section--oncanvas" style="padding-bottom:470px;">
    <!--main section-->
    <div class="section--wrap">
        <!--header-->
        <nav class="menu-wrapper">
            <!--desktop:menu-->
            <div id="ad" class="section mobile-hidden tablet-padding-toleft tablet-padding-toright">
                <div class="container section--menu">
                    <a href="index.html" class="link--logo float--left" title="home">
                        <span class="link--text">Home</span>
                    </a>
                    <ul class="menu--main float--left clear">
                        <li><a href="shop.html" class="active-trail track-element-click">Shop</a></li>
                        <li><a href="" class="track-element-click">Customer Service</a></li>
                        <li><a href="" class="track-element-click">My Telenor</a></li>
                        <li><a href="" class="track-element-click">Find Store</a></li>
                    </ul>
                    <div class="section--menu__service">
                        <div class="menu--service">
                            <a href="#nogo" class="active-trail">Private</a>
                            <a href="#nogo">Business</a>
                        </div>
                        <div class="menu--user">
                            <a href="login.html">Sign in</a>
                        </div>
                    </div>
                    <div class="menu--right float--right">
                        <div class="menu--right__basket">
                            <a href="#nogo" class="basket-icon">
                                <span class="icon-basket"></span>
                                <span class="product-amount">1</span>
                            </a>
                        </div>
                        <div class="menu--right__search"></div>
                    </div>
                </div>
            </div>
            <!--subnav menu -->
            <div id="menu--subnav-sticky-wrapper" class="mobile-hidden menu-subnav-sticky-wrapper">

                <div class="section section--subnav mobile-hidden tablet-padding-toleft tablet-padding-toright">
                    <div class="container">
                        <div><a href="#nogo" class="link--logo float--left"></a></div>
                        <div>
                            <ul class="menu--subnav menu--flexnav flexnav--inited">
                                <li>
                                    <a href="product-list.html" class="active-trail  track-element-click">Mobiles</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Subscriptions</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Tablets</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Mobile Broadband</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Broadband</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Accessories</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Family Discont</a>
                                </li>
                                <!--  is-open-->
                                <li class="flexnav"><a class="flexnav__toggler">More</a>
                                    <ul class="flexnav__subnav">
                                        <li>
                                            <a href="#nogo" class="track-element-click">Roam Away</a>
                                        </li>
                                        <li>
                                            <a href="＃nogo" class="track-element-click" >On Sales</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
            <!--Mobile menu -->
            <div class="nav-mobile desktop-hidden">
                <div class="nav-mobile__container">
                    <a class="logo" href="#nogo" title="home">
                        <span class="icon--text">Views.Root.Home</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#nogo">
                                <span class="icon icon-user"></span>
                                <span class="icon--text">Log ind</span>
                            </a>
                        </li>
                        <li>
                            <a href="#nogo" class="basket-icon">
                                <span class="icon-basket"></span>
                                <span class="product-amount">1</span>
                            </a>
                        </li>
                        <li>
                            <a id="mobile-menu" href="#nogo">
                                <span class="icon--text">Menu</span>
                                <span class="icon icon-hamburger-menu"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--header-end-->
<div class="container--main " style="background: #f0f0f0;">
    <a href="#" class="top-banner container--wide">
        <div class="container padding-leader--large mobile-padding-leader mobile-padding-trailer rel mobile-text--center mobile-padding-toleft mobile-padding-toright">
            <div class="grid-row--gutter-none">
                <div class="col-md-8 padding-trailer mobile-padding-trailer--none color-white">
                    <p>FAMILY OFFERS</p>
                    <h1 class="text-size--64 mobile-text-size--36 text-light trailer--small">Samsung <br>Galaxy S6 Edge</h1>
                    <ul class="list list--check list--check-with-border trailer--large mobile-trailer--small text-size--19 mobile-text-size--13">
                        <li class="display--block mobile-display--inline-block">Freedom of speech,SMS and Roam Away in 36 countries</li>
                        <li class="display--block mobile-display--inline-block">Viaplay</li>
                        <li class="display--block mobile-display--inline-block">Office 365 & OneDrive</li>
                    </ul>
                    <button class="button button--action trailer--large">
                        <span class="button__label icon--right icon-arrow-next">order now</span>
                    </button>
                    <div class="legal-txt text-size--11 color-white ovh padding-toright--small mobile-padding-toright--none">
                        <div class="float--left mobile-float--none toright--small">
                            <p class="trailer--small mobile-trailer--none">SEE IT NOW</p>
                            <img src="../../assets/img/minions-logo.png" alt="minions" style="width:98px;">
                        </div>
                        <p class="ovh">Mindstepris m. Fri+ Familie 40 og 20 GB: 4.724 kr. Værdi 12 mdr. Viaplay 1.068,-. Herefter automatisk betaling 89,-/md til Viaplay. Max 1 betalingsfri adgang pr. kunde. Aktivering af Viaplay skal ske inden for min. 6 mdr. Ved opsigelse af Fri+ Familie bortfalder den resterende betalingsfri periode. © 2015 Universal Studios. All rights reserved.</p>
                    </div>
                </div>
                <div class="col-md-4 image-block mobile-trailer">
                    <div class="sticker sticker--white">
                        <div class="sticker-content padding-toright--large padding-toleft--large mobile-padding-toright mobile-padding-toleft fix-width">
                            <p class="text-size--19 mobile-text-size--13 text-light color-blue">Samsung <br>Galaxy S6 Edge</p>
                            <p class="text-size--84 mobile-text-size--36 color-blue"> 89<span class="currency">,-</span></p>
                            <p class="text-size--19 mobile-text-size--13 text-light color-blue">/Md.in 24 mdr.</p>
                            <div class="sticker sticker--white">
                                <div class="sticker-content padding-toright padding-toleft">
                                    <p class="text-size--13 mobile-text-size--11 text-light">FREE+Family<br>Incl.</p>
                                    <p class="text-size--36 mobile-text-size--21">12 mdr.</p>
                                    <img src="../../assets/img/viaplay-logo.png" alt="viaplay" style="height: 19px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <div class="container block--list--icons">
        <ul class="category-list grid-row text--center">
            <li class="col-xs-4 col-md-2 padding-trailer--small">
                <div class="text--center">
                    <a class="text-size--36 mobile-text-size--30" href="#">
                        <span class="icon-mobile icon circle-outline border-width-1 color-blue display--inline-block"></span>
                    </a>
                    <div class="leader--small trailer--xsmall">
                        <span class="text-size--16 mobile-text-size--13">
                            <a class="color-blue" href="#">Mobiles</a>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-xs-4 col-md-2 padding-trailer--small">
                <div class="text--center">
                    <a class="text-size--36 mobile-text-size--30" href="#">
                        <span class="icon-simcard icon circle-outline border-width-1 color-blue display--inline-block"></span>
                    </a>
                    <div class="leader--small trailer--xsmall">
                        <span class="text-size--16 mobile-text-size--13">
                                <a class="color-blue" href="#">Subscriptions</a>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-xs-4 col-md-2 padding-trailer--small">
                <div class="text--center">
                    <a class="text-size--36 mobile-text-size--30" href="#">
                        <span class="icon-mobile-broadband icon circle-outline border-width-1 color-blue display--inline-block"></span>
                    </a>
                    <div class="leader--small trailer--xsmall">
                        <span class="text-size--16 mobile-text-size--13">
                                <a class="color-blue" href="#">Mobile Broadband</a>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-xs-4 col-md-2 padding-trailer--small">
                <div class="text--center">
                    <a class="text-size--36 mobile-text-size--30" href="#">
                        <span class="icon-home-broadband icon circle-outline border-width-1 color-blue display--inline-block"></span>
                    </a>
                    <div class="leader--small trailer--xsmall">
                        <span class="text-size--16 mobile-text-size--13">
                                <a class="color-blue" href="#">Broadband</a>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-xs-4 col-md-2 padding-trailer--small">
                <div class="text--center">
                    <a class="text-size--36 mobile-text-size--30" href="#">
                        <span class="icon-hotline icon circle-outline border-width-1 color-blue display--inline-block"></span>
                    </a>
                    <div class="leader--small trailer--xsmall">
                        <span class="text-size--16 mobile-text-size--13">
                                <a class="color-blue" href="#">Customer Service</a>
                        </span>
                    </div>
                </div>
            </li>
            <li class="col-xs-4 col-md-2 padding-trailer--small">
                <div class="text--center">
                    <a class="text-size--36 mobile-text-size--30" href="#">
                        <span class="icon-location icon circle-outline border-width-1 color-blue display--inline-block"></span>
                    </a>
                    <div class="leader--small trailer--xsmall">
                        <span class="text-size--16 mobile-text-size--13">
                                <a class="color-blue" href="#">Find Store</a>
                        </span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="container">
        <div class="grid-row--gutter-small ">
            <div class="col-md-4 col-xs-12 frontpage-grid-gap padding-whole--xsmall" style="background-color:#000;">
                <a href="#" class="col-xs-12 ">
                    <div class="leader--section text--center col-xs-12">
                        <img src="../../assets/img/iphone7.png" alt="iPhone7" width="194">
                        <h2 class="text-size--24 trailer--section-base leader text-light color-white">Order here.</h2>
                        <h2 class="mobile-hidden desktop-hidden">iPhone 7</h2>
                    </div>
                    <div class="leader--section text--center col-xs-12 b-img">
                        <img src="../../assets/img/iphone7-mobile.png" alt="iPhone7"  style="width:273px;height: 212px;">
                    </div>
                </a>
            </div>
            <div class="col-md-8 col-xs-12 frontpage-grid-gap padding-whole--xsmall" style="background: url(../../assets/img/roamaway8col.jpg) no-repeat 50% 50% padding-box content-box; background-size: 100% 100%; min-height: 350px;">
                <a href="#" class="padding-leader--large padding-trailer--xlarge text--center color-white display--block">
                    <div class="text-size--19 trailer--xsmall leader--small"><strong>USE MOBILE ON HOLIDAY</strong></div>
                    <h2 class="text-size--44 mobile-text-size--36 text-light trailer mobile-hidden">Roam Away With New<br>FREE+ asubscriptions </h2>
                    <h2 class="text-size--44 mobile-text-size--36 text-light trailer desktop-hidden">Roam Away<br>new FREE+ <br>asubscriptions </h2>
                    <div class="ra-list">
                        <ul class="list mobile-hidden">
                            <li><span class="icon icon-save text-size--21 toright--xsmall"></span> Free of specch,text and lots of data in 36 countries </li>
                            <li><span class="icon icon-save text-size--21 toright--xsmall"></span> Up to 40G of data in your abonm.</li>
                            <li><span class="icon icon-save text-size--21 toright--xsmall"></span> Holiday without extra bills</li>
                        </ul>
                    </div>
                    <p class="text-size--11 text-legal-banner mobile-hidden color-black-light" style="margin-bottom:20px;">*Free of speech and SMS to Danish and local numbers in 36 countries and max 10 GB of data
                        <br> on your data package. Max 30 consercutive days.
                    </p>
                    <p class="text-size--11 text-legal-banner desktop-hidden color-black-light" style="margin-bottom:15px;">*Free of speech and SMS to Danish and local numbers
                        <br> in 36 countries and max 10 GB of data on your data package.
                        <br> Max 30 consercutive days.</p>
                </a>
            </div>

            <div class="col-md-6 col-xs-12 frontpage-grid-gap padding-whole--xsmall mobile-text--center grid-row--gutter-none color-white">
                <a href="#" class="col-xs-12 grid-row--gutter-none text--center" style="background: url(../../assets/img/minions-50-50.jpg) no-repeat 50% 50% / cover;">
                    <div class="padding-trailer--med padding-whole padding-leader--large col-xs color-white">
                        <h3 class="text-size--44 mobile-text-size--30 text-light trailer--small">Underholdning for hele familien</h3>
                        <div class="sticker sticker-static sticker--white trailer--large">
                            <div class="sticker-content padding-toright--large padding-toleft--large">
                                <p class="text-size--19 text-light">FRI+ Family <br>Incl.</p>
                                <p class="text-size--44">12 mdr.</p>
                                <img src="../../assets/img/viaplay-logo.png" alt="viaplay" style="height: 32px;">
                            </div>
                        </div>
                        <div class="ovh text--left">
                            <div class="float--right">
                                <p class="text-size--11 trailer--xsmall">SEE IT NOW</p>
                                <img src="../../assets/img/minions-logo.png" alt="viaplay" style="width: 98px;">
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-6 col-xs-12 frontpage-grid-gap padding-whole--xsmall mobile-text--center grid-row--gutter-none">
                <a href="#" class="grid-row--gutter-none mobile-padding-leader--large col-xs-12 link--default ">
                    <div class="col-md-6 col-xs-12 image-area">
                        <div class="image-holder">
                            <img src="../../assets/img/frontpage-iPhone-SE.png">
                        </div>
                        <div class="sticker sticker--white">
                            <div class="sticker-content padding-toright padding-toleft padding-leader--none padding-trailer--none">
                                <p class="text-size--13 text-light">FRI+ Familie <br>Incl.</p>
                                <p class="text-size--24" style="line-height: 1.1em;">12 mdr.</p>
                                <img src="../../assets/img/viaplay-logo.png" alt="viaplay" style="height: 19px">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 padding-whole--xlarge padding-trailer--med mobile-padding-leader--med padding-toleft--none padding-toright--small mobile-padding-whole--large ">
                        <div class="description">
                            <p>FAMILIETILBUD</p>
                            <h2 class="text-size--36 mobile-text-size--21 text-light trailer mobile-trailer--xsmall">iPhone SE</h2>
                            <ul class="list list--check list--check-with-border mobile-hidden">
                                <li>Freedom of speech and sms</li>
                                <li>40 GB data</li>
                                <li>Roam Away in 36 countries</li>
                            </ul>
                        </div>
                        <div class="price-box mobile-padding-whole--none">
                            <p class="price-before text-size--13 mobile-hidden">ONLY</p>
                            <p class="text-size--44 mobile-text-size--28 text-light color-blue trailer mobile-trailer--small">79<span class="currency-mark">,-</span><span class="text-size--19 mobile-text-size--13 color-gray">/MD</span></p>
                            <p class="text-size--11 text-legal">Free shipping on all mobiles <span class="mobile-hidden"><br>Minimum m.Free + Family 40 and 20 GB: 4.284 kr. </span></p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-md-8 col-xs-12 frontpage-grid-gap padding-whole--xsmall mobile-text--center">
                <a href="#" class="grid-row--gutter-none mobile-padding-leader--large link--default ">
                    <div class="col-md-6 col-xs-12 padding-whole--xlarge padding-trailer--med mobile-padding-leader--med mobile-order-2 padding-toright--none mobile-padding-whole--large">
                        <div class="description">
                            <h2 class="text-size--36 mobile-text-size--21 text-light trailer mobile-trailer--xsmall">Huawei P9  Lite<br class="mobile-hidden">Smartphone</h2>
                            <ul class="list list--check list--check-with-border mobile-hidden">
                                <li>Freedom of speech and sms</li>
                                <li>40 GB data</li>
                                <li>Roam Away in 36 countries</li>
                            </ul>
                        </div>
                        <div class="price-box mobile-padding-whole--none">
                            <p class="price-before text-size--13 mobile-hidden">ONLY</p>
                            <p class="text-size--44 mobile-text-size--28 color-blue trailer mobile-trailer--small text-light">29<span class="currency-mark">,-</span><span class="text-size--19 mobile-text-size--13 color-gray">/MD</span></p>
                            <p class="text-size--11 text-legal">Free shipping on all mobiles  <br>Minimum m.Free + Family 40 and 20 GB: 4.284 kr.</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-12 image-area mobile-order-1">
                        <div class="image-holder padding-toright--med mobile-padding-toright--none">
                            <img src="../../assets/img/frontpage-huawei-P9-Lite.png">
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-xs-12 frontpage-grid-gap padding-whole--xsmall" style="background: url(../../assets/img/roam-away-minibanner2.jpg) no-repeat 50% 50% padding-box content-box; background-size: auto 100%;">
                <a href="#" class="padding-whole padding-trailer--xlarge padding-leader--xlarge text--center color-white display--block">
                    <div class="text-size--19 trailer--xsmall" style="line-height:23px;"><strong>MOBLE BROADBAND <br>FOR FAMILY</strong></div>
                    <h2 class="text-size--44 mobile-text-size--36 text-light trailer">online<br>everywhere!</h2>
                    <div class="sticker sticker-static trailer--section">
                        <div class="sticker-content" style="background:#ffffff;">
                            <div class="text-size--13 color-black-light">ALLE
                                <br>ABONNEMENTER</div>
                            <div class="text-size--72 color-black-light mobile-text-size--54 padding-toleft--small padding-toright--small">99<span class="currency-mark">,-</span><span class="text-size--19 color-black-light">/MD</span></div>
                            <div class="text-size--13 color-black-light">DE FØRSTE
                                <br>3 MÅNEDER</div>
                        </div>
                    </div>
                    <p class="text-size--11 text-legal-banner">The price requires min two Free + Family subscriptions.</p>
                </a>
            </div>
        </div>
    </div>
    <div class="container padding-leader mobile-padding-leader--none mobile-text--center">
        <div class="grid-row--gutter-none grid-row-sm--bottom">
            <div class="col-md-5 col-xs-12 padding-leader--huge padding-trailer--huge mobile-padding-whole--large">
                <h3 class="text-size--64 mobile-text-size--36 text-light trailer">Do you need help?</h3>
                <p class="trailer">Our customer service staff is ready 24 hours a day on<br>72 100 100</p>

            </div>
            <div class="col-md-7 col-xs-12 mobile-hidden" style="align-self:flex-end;">
                <img class="display--block" src="../../assets/img/services-img.jpg">
            </div>
        </div>
    </div>
    <div id="help" class="section--help section--negative container--wide" role="complementary">
        <div class="container text--center">
            <p class="section--help__title mobile-hidden">Get an overview on the My Telenor</p>
            <p class="section--help__subtitle"><span>Self is only one click away</span></p>
            <ul class="section--help__buttons">
                <li><a class="button button--action-dark" href="#"><span class="button__text">My Telenor</span></a></li>
            </ul>
        </div>

    </div>
</div>
        </div>
    <!-- footer section-->
    <div id="footer" class="section-footer-scroll">
        <nav class="section section--footer">
            <div class="container">
                <div class="grid-row trailer--small mobile-hidden">
                    <!-- footer:breadbcrumb-->
                    <div class="col-md-9">
                        <div class="section--footer__breadcrumb">
                            <ul>
                                <li><a href="#nogo">Home</a></li>
                                <li><a href="#nogo">Shop</a></li>
                                <li><a href="#nogo">Subscriptions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 tablet-omega footer__social text--right">
                        <a href="#nogo" class="icon-facebook track-social">
                            <span class="icon--text">Facebook</span>
                        </a>
                        <a href="#nogo" class="icon-twitter-circle track-social">
                            <span class="icon--text">Twitter</span>
                        </a>
                    </div>
                </div>
                <!-- : Footer Navigation -->
                <div class="section--footer__menu mobile-hidden">
                    <div class="flex--row">
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">About Telenor</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">About Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Notifications</a></li>
                                <li><a href="#nogo" class="track-element-click">Job at Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Cookies</a></li>
                                <li><a href="#nogo" class="track-element-click">Privacy notice</a></li>
                                <li><a href="#nogo" class="track-element-click">Complaints and improvments</a></li>
                                <li><a href="#nogo" class="track-element-click">Newsletter</a></li>
                                <li><a href="#nogo" class="track-element-click">Find store</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Shop</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">Mobiles</a></li>
                                <li><a href="#nogo" class="track-element-click">Mobile Subscriptions</a></li>
                                <li><a href="#nogo" class="track-element-click">Mobile Broadband</a></li>
                                <li><a href="#nogo" class="track-element-click">Tablets</a></li>
                                <li><a href="#nogo" class="track-element-click">Broadband</a></li>
                                <li><a href="#nogo" class="track-element-click">Accessories</a></li>
                                <li><a href="#nogo" class="track-element-click">Prices and conditions</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Customers services</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">My Telenor (self-service)</a></li>
                                <li><a href="#nogo" class="track-element-click">Mobile Help</a></li>
                                <li><a href="#nogo" class="track-element-click">Help for broadband</a></li>
                                <li><a href="#nogo" class="track-element-click">Operating and coverage</a></li>
                                <li><a href="#nogo" class="track-element-click">Cancellation</a></li>
                                <li><a href="#nogo" class="track-element-click">Have you lost your mobile?</a></li>
                                <li><a href="#nogo" class="track-element-click">All about roaming - Roam Away</a></li>
                                <li><a href="#nogo" class="track-element-click">All about streaming</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Profession</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">Customer service</a></li>
                                <li><a href="#nogo" class="track-element-click">Mobile Subscription</a></li>
                                <li><a href="#nogo" class="track-element-click">Broadband Subscriptions</a></li>
                                <li><a href="#nogo" class="track-element-click">Mobile Broadband Subscription</a></li>
                                <li><a href="#nogo" class="track-element-click">Multiplan self</a></li>
                                <li><a href="#nogo" class="track-element-click">Webfaktura (WIP)</a></li>
                                <li><a href="#nogo" class="track-element-click">Wholesale</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Popular mobiles</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">Apple iPhone 7</a></li>
                                <li><a href="#nogo" class="track-element-click">Apple iPhone 7 Plus</a></li>
                                <li><a href="#nogo" class="track-element-click">Apple iPhone SE</a></li>
                                <li><a href="#nogo" class="track-element-click">Samsung Galaxy S7</a></li>
                                <li><a href="#nogo" class="track-element-click">Samsung Galaxy S7 Edge</a></li>
                                <li><a href="#nogo" class="track-element-click">Huawei P9</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--:section footer info -->
                <div class="section--footer__info">
                    <div class="grid-row">
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-hotline circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                Customer service is always open
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-one-to-one-loaner-phone circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                1: 1 mobile borrowing
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-truck circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                Free shipping and express delivery
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-perfect-start circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                Perfect start
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- section bottom-->
        <div class="section section--bottom">
            <div class="container">
                <div class="desktop-hidden footer__social">
                    <a href="#nogo" class="icon-facebook"><span class="icon--text">Facebook</span></a>
                    <a href="#nogo" class="icon-twitter-circle"><span class="icon--text">Twitter</span></a>
                </div>
                <div class="section--bottom__holder mobile-text--center">
                    <div class="leader--xsmall mobile-trailer--small float--right mobile-text--center clearImg">
                        <div class="float--right toleft--xsmall mobile-toleft--none mobile-trailer--xsmall">
                            <img src="../../assets/img/paymenticons.png" alt="">
                        </div>
                        <div class="float--left">
                            <img src="../../assets/img/payment-icon2.png" alt="">
                        </div>
                    </div>
                    <div class="float--left">
                        <div>
                            <ul class="adr-list">
                                <li class="icon-telenor section--bottom__logo"></li>
                                <li>Telenor</li>
                                <li> · </li>
                                <li>Frederikskaj 8</li>
                                <li> · </li>
                                <li>1780 København V</li>
                                <li class="mobile-hidden"> · </li>
                                <li class="mobile-hidden">CVR: 19433692</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end-->
    </div>
<div class="side-panel">
　<div class="nav-panel">
    <ul class="nav-mobile__tabset">
        <li class="tabpanel__tab is-active">
            <a href="#nogo">Private</a>
        </li>
        <li class="tabpanel__tab">
            <a href="#nogo">Business</a>
        </li>
        <li class="tabpanel__tab flexnav" style="display:none">
            <a href="#nogo" class="tabpanel__link flexnav__toggle">More</a>
            <ul class="flexnav__subnav">
                <li class="tabpanel__tab flexnav--active-tab">
                    <a href="#nogo">Private</a>
                </li>
                <li class="tabpanel__tab">
                    <a href="#nogo">Business</a>
                </li>
            </ul>
        </li>
    </ul>
    <form  class="nav-mobile__search clear">
        <input type="text" class="nav-mobile__search__text" placeholder="search"/>
        <button class="nav-mobile__search__button icon-search"></button>
    </form>
    <div class="nav-mobile__tab-holder tabpanel__panels">
        <ul class="nav-mobile__accordion tabs__panel tabpanel__panel is-active">
        <li class="">
            <a href="#nogo" class="is-active track-element-click">Shop1</a>
            <span class="icon-arrow-next collapsed"></span>
            <ul class="nav-mobile__accordion__drop nav-mobile__submenu__privat_shop js-hidden">
                <li>
                    <a href="#nogo" class="track-element-click">Mobile</a>
                </li>
                <li>
                    <a href="#nogo" class="track-element-click">Mobile</a>
                </li>
                <li>
                    <a href="#nogo" class="track-element-click">Mobile</a>
                </li>

                <li>
                    <a href="#nogo" class="track-element-click">Mobile</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#nogo" class="is-active track-element-click">Shop1</a>
            <span class="icon-arrow-next collapsed"></span>
            <ul class="nav-mobile__accordion__drop nav-mobile__submenu__privat_shop js-hidden">
                <li>
                    <a href="#nogo" class="track-element-click">Mobile</a>
                </li>
                <li>
                    <a href="#nogo" class="track-element-click">Mobile</a>
                </li>
                <li>
                    <a href="#nogo" class="track-element-click">Mobile</a>
                </li>

                <li>
                    <a href="#nogo" class="track-element-click">Mobile</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#nogo" class="track-element-click">Mobile</a>
        </li>
        <li>
            <a href="#nogo" class="track-element-click">Mobile</a>
        </li>
    </ul>
        <ul class="nav-mobile__accordion tabs__panel tabpanel__panel js-hidden">
            <li class="is-active">
                <a href="#nogo" class="track-element-click">Shop2</a>
                <span class="icon-arrow-next collapsed"></span>
                <ul class="nav-mobile__accordion__drop nav-mobile__submenu__privat_shop js-hidden">
                    <li>
                        <a href="#nogo" class="track-element-click">Mobile</a>
                    </li>
                    <li>
                        <a href="#nogo" class="track-element-click">Mobile</a>
                    </li>
                    <li>
                        <a href="#nogo" class="track-element-click">Mobile</a>
                    </li>

                    <li>
                        <a href="#nogo" class="track-element-click">Mobile</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#nogo" class="is-active track-element-click">Shop2</a>
                <span class="icon-arrow-next collapsed"></span>
                <ul class="nav-mobile__accordion__drop nav-mobile__submenu__privat_shop js-hidden">
                    <li>
                        <a href="#nogo" class="track-element-click">Mobile</a>
                    </li>
                    <li>
                        <a href="#nogo" class="track-element-click">Mobile</a>
                    </li>
                    <li>
                        <a href="#nogo" class="track-element-click">Mobile</a>
                    </li>

                    <li>
                        <a href="#nogo" class="track-element-click">Mobile</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#nogo" class="track-element-click">Mobile</a>
            </li>
            <li>
                <a href="#nogo" class="track-element-click">Mobile</a>
            </li>
        </ul>
    </div>

</div>
</div>
</body>
<script type="text/javascript">
$("#mobile-menu").click(function(){
    if(!$('.offcanvas').hasClass('offcanvas--open')){
        $('.offcanvas').addClass("offcanvas--open");
        $('.section--oncanvas').addClass('is-disabled')
    }else{
        $('.offcanvas').removeClass("offcanvas--open");
        $('.section--oncanvas').removeClass('is-disabled')
    }
})
$('.nav-mobile__tabset li').click(function(){
    var $t = $(this).index();
    if(!$(this).hasClass('.is-active')){
        $(this).addClass('is-active').siblings().removeClass('is-active');
        $('.nav-mobile__tab-holder > ul').eq($t).removeClass('js-hidden').addClass('is-active').siblings().addClass('js-hidden')
    }
})
if(!$(".nav-mobile__accordion > li:has('span.icon-arrow-next')").length==0){
    $('.nav-mobile__accordion > li span.icon-arrow-next').click(function(){
        if(!$(this).hasClass('.is-expanded')){
            $(this).parent().addClass('is-active').siblings().removeClass();
            $(this).removeClass('collapsed').addClass('is-expanded');
            $(this).parent().siblings().children('span.icon-arrow-next ').removeClass('is-expanded').addClass('collapsed');
            $(this).next('.nav-mobile__accordion__drop').removeClass('js-hidden').addClass('is-open');
            $(this).parent().siblings().children('.nav-mobile__accordion__drop').removeClass('is-open').addClass('js-hidden');
        }else{
            $(this).parent().removeClass('is-active');
            $(this).removeClass('is-expanded').addClass('collapsed');
            $(this).next('.nav-mobile__accordion__drop').removeClass('is-open').addClass('js-hidden');
        }
    })
}
</script>
</html>
