<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../../assets/img/favicon.ico" type="image/x-icon">
    <link href="../../assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="../../assets/css/telenor.min.css" rel="stylesheet" type="text/css">
    <script src="../../assets/js/jquery.js" type="text/javascript"></script>
    <title>Login</title>
</head>
<!--“offcanvas--open”侧边栏滑出-->
<body class="offcanvas side-panel--wide">
<!--'is-disabled'侧边栏 滑出时添加-->
<div class="section--oncanvas" style="padding-bottom:470px;">
    <!--main section-->
    <div class="section--wrap">
        <!--header-->
        <nav class="menu-wrapper">
            <!--desktop:menu-->
            <div id="ad" class="section mobile-hidden tablet-padding-toleft tablet-padding-toright">
                <div class="container section--menu">
                    <a href="index.html" class="link--logo float--left" title="home">
                        <span class="link--text">Home</span>
                    </a>
                    <ul class="menu--main float--left clear">
                        <li><a href="shop.html" class="active-trail track-element-click">Shop</a></li>
                        <li><a href="" class="track-element-click">Customer Service</a></li>
                        <li><a href="" class="track-element-click">My Telenor</a></li>
                        <li><a href="" class="track-element-click">Find Store</a></li>
                    </ul>
                    <div class="section--menu__service">
                        <div class="menu--service">
                            <a href="#nogo" class="active-trail">Private</a>
                            <a href="#nogo">Business</a>
                        </div>
                        <div class="menu--user">
                            <a href="#nogo">Sign in</a>
                        </div>
                    </div>
                    <div class="menu--right float--right">
                        <div class="menu--right__basket">
                            <a href="#nogo" class="basket-icon">
                                <span class="icon icon-basket text-size--24"></span>
                            </a>
                        </div>
                        <div class="menu--right__search"></div>
                    </div>
                </div>
            </div>
            <!--subnav menu -->
            <div id="menu--subnav-sticky-wrapper" class="mobile-hidden menu-subnav-sticky-wrapper"style="display: none">
                <div class="section section--subnav mobile-hidden tablet-padding-toleft tablet-padding-toright">
                    <div class="container">
                        <div><a href="#nogo" class="link--logo float--left"></a></div>
                        <div>
                            <ul class="menu--subnav menu--flexnav flexnav--inited">
                                <li>
                                    <a href="product-list.html" class="active-trail  track-element-click">Mobiles</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Subscriptions</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Tablets</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Mobile Broadband</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Broadband</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Accessories</a>
                                </li>
                                <li>
                                    <a href="#nogo" class="track-element-click">Family Discont</a>
                                </li>
                                <!--is-open-->
                                <li class="flexnav"><a class="flexnav__toggler">Mere</a>
                                    <ul class="flexnav__subnav">
                                        <li>
                                            <a href="#nogo" class="track-element-click">Roam Away</a>
                                        </li>
                                        <li>
                                            <a href="＃nogo" class="track-element-click" >On Sales</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--Mobile menu -->
            <div class="nav-mobile desktop-hidden">
                <div class="nav-mobile__container">
                    <a class="logo" href="#nogo" title="home">
                        <span class="icon--text">Views.Root.Home</span>
                    </a>
                    <ul>
                        <li>
                            <a href="#nogo">
                                <span class="icon icon-user"></span>
                                <span class="icon--text">Log ind</span>
                            </a>
                        </li>
                        <li>
                            <a href="#nogo" class="basket-icon">
                                <span class="icon icon-basket"></span>
                            </a>
                        </li>
                        <li>
                            <a id="mobile-menu" href="#nogo">
                                <span class="icon--text">Menu</span>
                                <span class="icon icon-hamburger-menu"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!--header-end-->
<div id="main" class="container--main">
    <!--region:primary-content-->
    <div class="box--blue-light--gradient container--wide padding-leader trailer padding-trailer">
        <div class="container padding-leader mobile-padding-leader">
            <!------ login:with My Telenor ---start------------>
            <div class="grid-row">
               <div class="col-md-8">
                   <h2 class="text-size--44 mobile-text-size--30 text-light trailer">Log in to My Telenor</h2>
                   <p class="trailer">If this the first time you log in, you must create a Telenor profile first.</p>
               </div>
            </div>
            <div class="grid-row">
                <div class="col-md-6 trailer--small">
                    <div class="message message--error " data-module="message">
                        <div class="message__inner">
                            <span class="message__icon icon icon-reject"></span>
                            <div class="text--small message__text">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem dicta est hic quod deserunt qui harum corporis accusamus eaque dignissimos rerum neque ducimus, inventore maxime officia et repellat natus sunt.</p>
                            </div>
                            <button class="message__close" aria-hidden="true"><span class="icon-remove"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <form class="login-form">
            <div class="grid-row trailer--small">
                <div class="col-md-3 mobile-trailer">
                    <div class="form-item ">
                        <label for="username">Username(E-mail)</label>
                        <div>
                            <input id="username" type="text" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mobile-trailer">
                    <div class="form-item">
                        <label for="password">Password</label>
                        <div>
                            <input id="password" type="text" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-item">
                    <div class="mobile-hidden"><label>&nbsp;</label></div>
                    <button class="button button--accept" data-component="button" data-alias="retryNemId" data-action="GetInitialCheckoutStep">
                        <span class="button__label icon--right icon-arrow-next"><span class="button__text">Sign In</span></span>
                        <span class="button__label--success icon--left icon-thumb-up"><span class="button__text">Gemt</span></span>
                        <span class="button__spinner"><span class="spinner-holder"><span class="spinner-container"><em><span></span></em></span></span></span>
                    </button>
                        </div>
                </div>
            </div>
            <div class="form-item trailer">
                <ul>
                    <li class="form-checkbox ">
                        <input type="checkbox" checked="" id="cbs-0" name="cbs-0" value="--some-value--">
                        <label class="text--med" for="cbs-0">This is a public computer.</label>
                    </li>
                </ul>
            </div>
            </form>
            <div class="mobile-leader-xsmall">
                <a href="#nogo" class="bullet-link inline-block text-nowrap">Log in with SMS code</a>
            </div>
            <div class="mobile-leader--large leader--xlarge text-size--13">
                <a id="forgot-password" href="#nogo" class="bullet-link stretch-mobile text-nowrap stretch-mobile float--left">Forgot Password</a>
                <a href="#nogo" class="bullet-link stretch-mobile text-nowrap stretch-mobile toleft--xlarge float--left mobile-toleft--none">Sign Up</a>
            </div>
            <!------ login:with My Telenor ---end------------>
            <!------ login:with SMS Code ---start------------>
            <div class="container padding-leader mobile-padding-leader">
                <div class="grid-row">
                    <div class="col-md-8">
                        <h2 class="text-size--44 mobile-text-size--30 text-light trailer">Log in with SMS Code</h2>
                        <p class="trailer">
                            Log in with SMS code and access the My Telenor. Note It may take several minutes before you
                            receive a text message with the code.
                        </p>
                    </div>
                </div>
                <div class="grid-row">
                    <div class="col-md-6 trailer--small">
                        <div class="message message--error " data-module="message">
                            <div class="message__inner">
                                <span class="message__icon icon icon-reject"></span>
                                <div class="text-size--13 message__text">
                                    <p> We do not recognize your mobile number</p>
                                </div>
                                <button class="message__close" aria-hidden="true"><span class="icon-remove"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
                <form class="login-form">
                    <div class="grid-row trailer--small">
                        <div class="col-md-3 mobile-trailer">
                            <div class="form-item ">
                                <label for="mobile-number">Mobile Number</label>
                                <div>
                                    <input id="mobile-number" type="text" placeholder="Mobile Number">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-item">
                                <div class="mobile-hidden"><label>&nbsp;</label></div>
                                <button class="button button--accept" data-component="button" data-alias="retryNemId" data-action="GetInitialCheckoutStep">
                                    <span class="button__label icon--right icon-arrow-next"><span class="button__text">Send Code</span></span>
                                    <span class="button__label--success icon--left icon-thumb-up"><span class="button__text">Gemt</span></span>
                                    <span class="button__spinner"><span class="spinner-holder"><span class="spinner-container"><em><span></span></em></span></span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="leader--large mobile-leader--large">
                    <a href="#nogo" class="bullet-link inline-block text-nowrap">Log in with Telenor ID</a>
                </div>
            </div>
            <!------ login:with SMS Code ---end------------>
        </div>
    </div>
    <div class="container trailer--large mobile-trailer--small">
        <div class="grid-row">
            <div class="mobile-trailer col-md-6">
                <header class="trailer--small padding-trailer--small border--bottom">
                    <h1 class="text-size--36 text-light">Shortcuts</h1>
                </header>
                <div class="border--bottom border--light padding-leader--small padding-trailer--small">
                    <a href="#nogo" class="bullet-link">
                        Get Help On Your Mobile
                    </a>
                </div>
                <div class="border--bottom border--light padding-leader--small padding-trailer--small">
                    <a href="#nogo" class="bullet-link">
                        Check Out Our Coverage
                    </a></div>
            </div>
            <div class="mobile-trialer col-md-6">
                <div class="text--content block--text">
                <header class="trailer--small padding-trailer--small border--bottom">
                    <h1 class="text-size--36 text-light">Operating Status</h1>
                </header>
                <p>See an overview of planned and emergency breakdowns. Includes mobile network, broadband, telephony and services.</p>
                <p>
                    <a href="#nogo" class="button button--action">Go to the Operating Status</a>
                </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container trailer--large mobile-trailer--small">
        <div class="block--picture2">
            <div class="block--picture2--height-small block--picture2--wide">
                <div class="image-block">
                    <div class="images-block--inner mobile-hidden anchor-50-0">
                        <img src="../../assets/img/banner/Butiksbanner_large.jpg" alt=""/>
                    </div>
                    <div class="images-block--inner desktop-hidden anchor-50-0">
                        <img src="../../assets/img/banner/Butiksbanner_small.jpg" alt=""/>
                    </div>
                </div>
                <div class="banner-text text--content compact-headers color-black-light banner-text--left">
                    <div class="banner-text--top-down banner-padding--top-down col-lg-6 col-md-9">
                     <h1 class="text-light text-size--44 mobile-text-size--36 trailer--small banner-text--heading">
                         Visit the Shop
                     </h1>
                        <div class="banner-text--content text-size--16 mobile-text-size--13">
                            <p>
                                In all of our stores you can get personalized help - and you are welcome to drop by</br>
                                and help you choose the right subscription or perfect start to your new phone.
                            </p>
                            <p>
                                <button class="button button--accept text-truncate" type="submit" id="testButton">
                                    <span class="button__label icon--left icon-arrow-next"><span class="button__text">Find store</span></span>
                                    <span class="button__label--success icon-thumb_up">Saved</span>
                                    <span class="button__spinner"><span class="spinner-holder"><span class="spinner-container"><em><span></span></em></span></span></span>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="help" class="section--help section--negative container--wide" role="complementary">
        <div class="container text--center">
            <p class="section--help__title mobile-hidden">Get an overview on the My Telenor</p>
            <p class="section--help__subtitle"><span>Self is only one click away</span></p>
            <ul class="section--help__buttons">
                <li><a class="button button--action-dark" href="#"><span class="button__text">My Telenor</span></a></li>
            </ul>
        </div>

    </div>
</div>
        </div>
    <!-- footer section-->
    <div id="footer" class="section-footer-scroll">
        <nav class="section section--footer">
            <div class="container">
                <div class="grid-row trailer--small mobile-hidden">
                    <!-- footer:breadbcrumb-->
                    <div class="col-md-9">
                        <div class="section--footer__breadcrumb">
                            <ul>
                                <li><a href="#nogo">Home</a></li>
                                <li><a href="#nogo">Shop</a></li>
                                <li><a href="#nogo">Moblie</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 tablet-omega footer__social text--right">
                        <a href="#nogo" class="icon-facebook track-social">
                            <span class="icon--text">Facebook</span>
                        </a>
                        <a href="#nogo" class="icon-twitter-circle track-social">
                            <span class="icon--text">Twitter</span>
                        </a>
                    </div>
                </div>
                <!-- : Footer Navigation -->
                <div class="section--footer__menu mobile-hidden">
                    <div class="flex--row">
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Om Telenor</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Om Telenor</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Om Telenor</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Om Telenor</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Om Telenor</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Job hos Telenor</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--:section footer info -->
                <div class="section--footer__info">
                    <div class="grid-row">
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-hotline circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                Kundeservice har altid åbent
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-one-to-one-loaner-phone circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                1:1 lånemobil
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-truck circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                Fri fragt og ekspreslevering
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-perfect-start circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                Kundeservice har altid åbent
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- section bottom-->
        <div class="section section--bottom">
            <div class="container">
                <div class="desktop-hidden footer__social">
                    <a href="#nogo" class="icon-facebook"><span class="icon--text">Facebook</span></a>
                    <a href="#nogo" class="icon-twitter-circle"><span class="icon--text">Twitter</span></a>
                </div>
                <div class="section--bottom__holder mobile-text--center">
                    <div class="leader--xsmall mobile-trailer--small float--right mobile-text--center clearImg">
                        <div class="float--right toleft--xsmall mobile-toleft--none mobile-trailer--xsmall">
                            <img src="../../assets/img/paymenticons.png" alt="">
                        </div>
                        <div class="float--left">
                            <img src="../../assets/img/payment-icon2.png" alt="">
                        </div>
                    </div>
                    <div class="float--left">
                        <div>
                            <ul class="adr-list">
                                <li class="icon-telenor section--bottom__logo"></li>
                                <li>Telenor</li>
                                <li> · </li>
                                <li>Frederikskaj 8</li>
                                <li> · </li>
                                <li>1780 København V</li>
                                <li class="mobile-hidden"> · </li>
                                <li class="mobile-hidden">CVR: 19433692</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end-->
    </div>
<!--form tooltips-->
<div class="side-panel">
   <div class="login--block section--negtive">
       <div class="login--block__set color-white">
           <div class="login--block__step">
               <div class="clear trailer--large color-white text-size--13">
                   <div class="login__logo">
                       <img src="../../assets/img/logo--negative-2x.png" alt=""/>
                   </div>
                   <a href="#nogo">
                       <span class="icon-arrow-prev"></span>
                       Back
                   </a>
                   <a href="" class="float--right">Close
                   <span class="icon-close-expand"></span></a>
               </div>
               <!-- forgot password-->
               <header class="trailer color-white">
              <h4 class="text-size--30 mobile-text-size--24 text-light color-white trailer--small">Forgot Password</h4>
              <p>We will send you a link to reset your password.</p>
               </header>
               <form class="login-form trailer" action="">
                   <div class="form-item trailer">
                       <label for="">Username</label>
                       <div>
                           <input type="text"/>
                       </div>
                   </div>
                   <div class="trailer">
                       <button class="button button--accept button--stretch text-truncate" type="submit">
                           <span class="button__label"><span class="button__text">Reset Password</span></span>
                           <span class="button__spinner"><span class="spinner-holder"><span class="spinner-container"><em><span></span></em></span></span></span>
                       </button>
                   </div>
               </form>
               <button class="button button--stretch button--action-dark">Get Your Username via NemID</button>
               <!-- reset password succesfull-->
               <header class="trailer color-white">
                   <p class="text-size--50 text--center"><span class="icon-thumb_up"></span></p>
                   <h4 class="text-size--30 mobile-text-size--24 text-light text--center color-white trailer--small">
                       If you have created a user profile, we have sent an email with your password. If you receive any e-mail you must create a user profile.
                   </h4>
               </header>
               <!-- Validated with NemID-->
               <header class="trailer color-white">
                   <p class="text-size--50 text--center"><span class="icon-thumb_up"></span></p>
                   <h4 class="text-size--30 mobile-text-size--24 text-light text--center color-white trailer--small">
                       Validated with NemID
                   </h4>
               </header>
               <p class="trailer text--center">You have sucessfully validated yourself with NemID.</p>
               <p class="trailer text--center">Your profile e-mail address is
               <strong>john.schuster@gmail.com.</strong></p>
               <button class="button button--accept button--stretch text-truncate" type="submit">
                   <span class="button__label"><span class="button__text">Go to My Telenor</span></span>
                   <span class="button__spinner"><span class="spinner-holder"><span class="spinner-container"><em><span></span></em></span></span></span>
               </button>
               <!--Get Your Username Via NemID-->
               <header class="trailer color-white">
                   <h4 class="text-size--30 mobile-text-size--24 text-light color-white trailer--small">
                       Validate with NemID
                   </h4>
                   <p>Once you have validated you NemID,you get direct access to all your information</p>
               </header>
               <iframe src="verification.html" frameborder="0" width="200" height="250"></iframe>
               <!--NemID Validation failed-->
               <header class="trailer color-white">
                   <p class="text-size--50 text--center"><span class="icon-thumb_down"></span></p>
                   <h4 class="text-size--30 mobile-text-size--24 text-light text--center color-white trailer--small">
                       Validation Failed
                   </h4>
               </header>
               <p class="trailer text--center">Your Telenor profile is now created and ready for use.</p>
               <div class="message message--alert trailer" data-module="message">
                   <div class="message__inner">
                       <div class="text--small message__text">
                           <p>
                               We could not find a customer profile in our database, that match your CPR number via NemID validation.
                           </p>
                       </div>
                       <button class="message__close no-js--hidden" aria-hidden="true"><span class="icon-remove"></span></button>
                   </div>
               </div>
               <p class="trailer text--center"><strong>Please call our customer service on 72 100 100 to get help.</strong></p>
               <button class="button button--accept button--stretch text-truncate" type="submit">
                   <span class="button__label"><span class="button__text">Retry Validation</span></span>
                   <span class="button__spinner"><span class="spinner-holder"><span class="spinner-container"><em><span></span></em></span></span></span>
               </button>
               <!----------------------------Sign up:validate---start---------------------------->
               <header class="trailer color-white">
                   <h4 class="text-size--30 mobile-text-size--24 text-light color-white trailer--small">Join the My Telenor</h4>
               </header>
               <!--Component：message－error---start-->
               <div class="message message--error trailer" data-module="message">
                   <div class="message__inner">
                       <span class="message__icon icon icon-reject"></span>
                       <div class="text--small message__text">
                           <p>Your e-mail address is allready registered.</p>
                       </div>
                       <button class="message__close" aria-hidden="true"><span class="icon-remove"></span></button>
                   </div>
               </div>
               <!--Component：message－error---end-->
               <form class="login-form trailer" action="">
                   <div class="form-item trailer--small">
                       <label for="">Write Your E-mail (Username)</label>
                       <div>
                           <input type="text"/>
                       </div>
                   </div>
                   <div class="form-item trailer--small">
                       <label for="">Type Your Password</label>
                       <div>
                           <input type="password"/>
                       </div>
                   </div>
                   <div class="form-item trailer">
                       <label for="">Repeat Password</label>
                       <div>
                           <input type="password"/>
                       </div>
                   </div>
                   <div class="trailer">
                       <button class="button button--accept button--stretch text-truncate" type="submit">
                           <span class="button__label icon--right icon-arrow-next"><span class="button__text">Continue</span></span>
                           <span class="button__spinner"><span class="spinner-holder"><span class="spinner-container"><em><span></span></em></span></span></span>
                       </button>
                   </div>
               </form>
               <!----------------------------Sign up:validate---end---------------------------->
               <!-----------Sign up:Get Your Username Via NemID---start------------->
               <header class="trailer color-white">
                   <h4 class="text-size--30 mobile-text-size--24 text-light color-white trailer--small">
                       Validate with NemID
                   </h4>
                   <p>Once you have validated you NemID,you get direct access to all your information</p>
               </header>
               <iframe src="verification.html" frameborder="0" width="200" height="250"></iframe>
               <P class="text-size--13 padding-leader--small">
                   <a href="#nogo" class="bullet-link text-nowrap">Create profile without NemID</a>
               </P>
               <!-----------Sign up:Get Your Username Via NemID---end------------->
           </div>
       </div>
   </div>
</div>
</body>
<script type="text/javascript">
    $("#forgot-password").click(function(){
        if(!$('.offcanvas').hasClass('offcanvas--open')){
            $('.offcanvas').addClass("offcanvas--open");
            $('.section--oncanvas').addClass('is-disabled')
        }else{
            $('.offcanvas').removeClass("offcanvas--open");
            $('.section--oncanvas').removeClass('is-disabled')
        }
    })
</script>
</html>
