<!DOCTYPE html>
<html lang="en" class="checked">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../../assets/img/favicon.ico" type="image/x-icon">
    <link href="../../assets/css/main.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../../assets/css/telenor.min.css">
    <script type="text/javascript" src="../../assets/js/jquery.js"></script>
    <title>Product List</title>
</head>
<body class="offcanvas">

<div class="section--oncanvas" style="padding-bottom: 470px;">
    <!--main section-->
<div class="section--wrap">
    <!--header-->
    <nav class="menu-wrapper">
        <!--desktop:menu-->
        <div id="ad" class="section mobile-hidden tablet-padding-toleft tablet-padding-toright">
            <div class="container section--menu">
                <a href="index.html" class="link--logo float--left" title="home">
                    <span class="link--text">Home</span>
                </a>
                <ul class="menu--main float--left clear">
                    <li><a href="shop.html" class="active-trail track-element-click">Shop</a></li>
                    <li><a href="" class="track-element-click">Customer Service</a></li>
                    <li><a href="" class="track-element-click">My Telenor</a></li>
                    <li><a href="" class="track-element-click">Find Store</a></li>
                </ul>
                <div class="section--menu__service">
                    <div class="menu--service">
                        <a href="#nogo" class="active-trail">Private</a>
                        <a href="#nogo">Business</a>
                    </div>
                    <div class="menu--user">
                        <a href="#nogo">Sign in</a>
                    </div>
                </div>
                <div class="menu--right float--right">
                    <div class="menu--right__basket">
                        <a href="#nogo" class="basket-icon">
                            <span class="icon icon-basket text-size--24"></span>
                        </a>
                    </div>
                    <div class="menu--right__search"></div>
                </div>
            </div>
        </div>
        <!--subnav menu -->
        <div id="menu--subnav-sticky-wrapper" class="mobile-hidden menu-subnav-sticky-wrapper">

            <div class="section section--subnav mobile-hidden tablet-padding-toleft tablet-padding-toright">
                <div class="container">
                    <div><a href="#nogo" class="link--logo float--left"></a></div>
                    <div>
                        <ul class="menu--subnav menu--flexnav flexnav--inited">
                            <li>
                                <a href="product-list.html" class="active-trail  track-element-click">Mobiles</a>
                            </li>
                            <li>
                                <a href="#nogo" class="track-element-click">Subscriptions</a>
                            </li>
                            <li>
                                <a href="#nogo" class="track-element-click">Tablets</a>
                            </li>
                            <li>
                                <a href="#nogo" class="track-element-click">Mobile Broadband</a>
                            </li>
                            <li>
                                <a href="#nogo" class="track-element-click">Broadband</a>
                            </li>
                            <li>
                                <a href="#nogo" class="track-element-click">Accessories</a>
                            </li>
                            <li>
                                <a href="#nogo" class="track-element-click">Family Discont</a>
                            </li>
                            <!--  is-open-->
                            <li class="flexnav"><a class="flexnav__toggler">More</a>
                                <ul class="flexnav__subnav">
                                    <li>
                                        <a href="#nogo" class="track-element-click">Roam Away</a>
                                    </li>
                                    <li>
                                        <a href="＃nogo" class="track-element-click" >On Sales</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!--Mobile menu -->
        <div class="nav-mobile desktop-hidden">
            <div class="nav-mobile__container">
                <a class="logo" href="#nogo" title="home">
                    <span class="icon--text">Views.Root.Home</span>
                </a>
                <ul>
                    <li>
                        <a href="#nogo">
                            <span class="icon icon-user"></span>
                            <span class="icon--text">Log ind</span>
                        </a>
                    </li>
                    <li>
                        <a href="#nogo" class="basket-icon">
                            <span class="icon icon-basket"></span>
                        </a>
                    </li>
                    <li>
                        <a id="mobile-menu" href="#nogo">
                            <span class="icon--text">Menu</span>
                            <span class="icon icon-hamburger-menu"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--header-end-->
<div class="container--main">
<div class="container padding-leader--xlarge padding-trailer--xlarge">
    <header class="trailer">
        <h1 class="text-size--36 text-light">Mobiler inklusiv min. 100 GB med OneDrive</h1>
    </header>
    <div class="filter--container box--greyed border">
        <ul id="filters-brand" class="form-item form-inline filters-list">
            <li class="form-checkbox--filter">
                <input type="checkbox" name="" id="all" value="all" checked>
                <label class="text-size--13" for="all">All <span class="text-size--11">(38)</span></label>
            </li>
            <li class="form-checkbox--filter form-checkbox--filter--primary">
                <input type="checkbox" name="" id="apple" value="apple">
                <label class="text-size--13" for="apple">Apple <span class="text-size--11">(7)</span></label>
            </li>
            <li class="form-checkbox--filter form-checkbox--filter--primary">
                <input type="checkbox" name="" id="htc" value="htc">
                <label class="text-size--13" for="htc">HTC <span class="text-size--11">(2)</span></label>
            </li>
            <li class="form-checkbox--filter form-checkbox--filter--primary">
                <input type="checkbox" name="" id="samsung" value="samsung">
                <label class="text-size--13" for="samsung">Samsung <span class="text-size--11">(2)</span></label>
            </li>
            <li class="form-checkbox--filter form-checkbox--filter--primary">
                <input type="checkbox" name="" id="sony" value="sony">
                <label class="text-size--13" for="sony">Sony <span class="text-size--11">(7)</span></label>
            </li>
            <li class="form-checkbox--filter form-checkbox--filter--primary">
                <input type="checkbox" name="" id="huawei" value="huawei">
                <label class="text-size--13" for="huawei">Huawei <span class="text-size--11">(5)</span></label>
            </li>
            <li class="form-checkbox--filter form-checkbox--filter--primary">
                <input type="checkbox" name="" id="lg" value="lg">
                <label class="text-size--13" for="lg">LG<span class="text-size--11">(1)</span></label>
            </li>
            <li class="form-checkbox--filter form-checkbox--filter--primary">
                <input type="checkbox" name="" id="microsoft" value="microsoft">
                <label class="text-size--13" for="microsoft">Microsoft <span class="text-size--11">(4)</span></label>
            </li>
            <li class="form-checkbox--filter form-checkbox--filter--primary">
                <input type="checkbox" name="" id="doro" value="doro">
                <label class="text-size--13" for="doro">Doro <span class="text-size--11">(1)</span></label>
            </li>
        </ul>
    </div>
    <!-- category-filters-->
    <div class="category-filters">
        <div class="trailer--large text--right mobile-text--left">
           <div class="grid-row grid-row-md--middle">
               <div class="col-md-4 mobile-padding-trailer--small">
                   <div class="radiobutton-row  radiobutton-row--small  agent-radiobutton">
                       <input type="radio" name="small-group" value="yes" id="small-group_0" checked="">
                       <label class="text--small" for="small-group_0">
                           Local
                       </label>
                       <input type="radio" name="small-group" value="no" id="small-group_1">
                       <label class="text--small" for="small-group_1">
                           Central
                       </label>
                   </div>
               </div>
               <div class="col-md-4 mobile-padding-trailer--small text--right mobile-text--left">
                   <label >Show mobile prices:</label>
               </div>
               <div class="col-md-4">
<div class="dropdown--select dropdown stretch-mobile">
    <!--'is-open'-->
    <div class="">
        <div class="dropdown__label" role="button" data-toggle="dropdown">
            <div class="text-truncate">Anbefalet abonnement</div>
        </div>
        <div class="dropdown__content">
            <div class="dropdown__scroll">
                <ul class="dropdown__list" aria-live="polite">
                    <li data-value="0">
                        <a class="media media--small hover">
                            <div class="media__body">
                                <div class="text-truncate">
                                    Anbefalet abonnement
                                </div>
                            </div>
                        </a>
                    </li>

                    <li data-value="11942872">
                        <a class="media media--small hover">
                            <div class="media__body">
                                <div class="text-truncate">
                                    FRI+ 40 GB (249,-)
                                </div>
                            </div>
                        </a>
                    </li>
                    <li data-value="11551516">
                        <a class="media media--small hover">
                            <div class="media__body">
                                <div class="text-truncate">
                                    Fri+ 10 GB (149,-)
                                </div>
                            </div>
                        </a>
                    </li>
                    <li data-value="11551032">
                        <a class="media media--small hover">
                            <div class="media__body">
                                <div class="text-truncate">
                                    Fri+ 20 GB (199,-)
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="dropdown__disabled">
            <div>
                <span class="button__spinner"><span class="spinner-holder"><span class="spinner-container"><em><span></span></em></span></span></span>
            </div>
        </div>
    </div>
</div>
               </div>
           </div>
        </div>
    </div>
    <!-- product list-->
    <div class="product-list">
     <div class="grid-row grid-row--gutter-none">
         <div class="col-sm-6 col-md-3 product-item flex">
            <div class="clear padding-leader--xlarge mobile-padding-leader product-item__holder">
                <div class="product-item__image-wrapper">
                    <div class="product-item__image-holder">
                            <div class="item__splash item__splash--top-left item__splash--yellow">
                                <div class="item__splash-text">
                                    <p class="text-size--11">MOBILRABAT</p>
                                    <p class="text-size--19 text-light text-truncate">-1.363,-</p>
                                </div>
                                <span class="load-tester"><span class="spinner"></span></span>
                            </div>
                        <a href="product-detail.html">
                            <img src="../../assets/img/galaxy-large.png" alt="The worlds most hyped smart phone."/>
                        </a>
                    </div>
                    <ul class="color-selector">
                        <li>
                            <input id="radio-color-Silver-1" name="radio-color-1" type="radio" value="Silver" checked>
                            <label tabindex="0" for="radio-color-Silver-1" style="background-color: #DADADA">Silver</label>
                        </li>
                        <li>
                            <input id="radio-color-Gold-1" name="radio-color-1" type="radio" value="Gold">
                            <label tabindex="0" for="radio-color-Gold-1" style="background-color: #E9C261">Gold</label>
                        </li>
                        <li>
                            <input id="radio-color-Gray-1" name="radio-color-1" type="radio" value="Gray">
                            <label tabindex="0" for="radio-color-Gray-1" style="background-color: #747474">Gray</label>
                        </li>
                        <li>
                            <input id="radio-color-Rose-1" name="radio-color-1" type="radio" value="Rose">
                            <label tabindex="0" for="radio-color-Rose-1" style="background-color: #e0b6b0">Rose</label>
                        </li>
                    </ul>
                </div>
                <div class="product-item__info">
                    <div class="product-item__info-holder">
                        <h3 class="product-item__name text-size--16 trailer--xsmall">Samsung Galaxy S4</h3>
                        <p class="product-item__price text-size--36 mobile-text-size--19 text-light trailer--small">
                            200,-<span class="text-size--16 color-gray">/MD</span>
                        </p>
                        <div class="trailer--small">
                            <a href="product-detail.html" class="button button--action button--small">
                                Se mobilen her
                            </a>
                        </div>
                        <p class="text-size--11 trailer--small status-dot status-dot--small status-dot--dynamic" data-alias="local-stock">

                            <span class="status-dot__icon" style="background-color: #00ff00"></span>På lager
                        </p>
                        <p class="text-size--11 trailer--small float--right mobile-float--none">
                            Fri fragt
                            1-2 dage
                        </p>
                        <div class="product-item__description text-size--11 padding-leader--xsmall border--top border--light color-gray">
                            <p>Pris inkl. FRI+ 40 GB abonnement </p>
                            <p>Udbetaling 0,-</p>
                            <p>Minimumspris i 6 md. 6.294,-</p>
                        </div>
                    </div>
                </div>

            </div>
         </div>
         <div class="col-sm-6 col-md-3 product-item flex">
         <div class="clear padding-leader--xlarge mobile-padding-leader product-item__holder">
             <div class="product-item__image-wrapper">
                 <div class="product-item__image-holder">
                         <div class="item__splash item__splash--top-left item__splash--blue">
                             <div class="item__splash-text">
                                 <p class="text-size--11">MOBILRABAT</p>
                                 <p class="text-size--19 text-light text-truncate">-1.363,-</p>
                             </div>
                             <span class="load-tester"><span class="spinner"></span></span>
                         </div>
                     <a href="">
                         <img src="../../assets/img/galaxy-large.png" alt="The worlds most hyped smart phone."/>
                     </a>
                 </div>
                 <ul class="color-selector">
                     <li>
                         <input id="radio-color-Silver-2" name="radio-color-2" type="radio" value="Silver">
                         <label tabindex="0" for="radio-color-Silver-2" style="background-color: #DADADA">Silver</label>
                     </li>
                     <li>
                         <input id="radio-color-Gold-2" name="radio-color-2" type="radio" value="Gold" checked>
                         <label tabindex="0" for="radio-color-Gold-2" style="background-color: #E9C261">Gold</label>
                     </li>
                     <li>
                         <input id="radio-color-Gray-2" name="radio-color-2" type="radio" value="Gray">
                         <label tabindex="0" for="radio-color-Gray-2" style="background-color: #747474">Gray</label>
                     </li>
                     <li>
                         <input id="radio-color-Rose-2" name="radio-color-2" type="radio" value="Rose">
                         <label tabindex="0" for="radio-color-Rose-2" style="background-color: #e0b6b0">Rose</label>
                     </li>
                 </ul>
             </div>
             <div class="product-item__info">
                 <div class="product-item__info-holder">
                     <h3 class="product-item__name text-size--16 trailer--xsmall">Samsung Galaxy S4</h3>
                     <p class="product-item__price text-size--36 mobile-text-size--19 text-light trailer--small">
                         200,-<span class="text-size--16 color-gray">/MD</span>
                     </p>
                     <div class="trailer--small">
                         <a href="#nogo" class="button button--action button--small">
                             Se mobilen her
                         </a>
                     </div>
                     <p class="text-size--11 trailer--small status-dot status-dot--small status-dot--dynamic" data-alias="local-stock">
                         <span class="status-dot__icon" style="background-color: #d1d1d1"></span>På lager
                     </p>
                     <p class="text-size--11 trailer--small float--right mobile-float--none">
                         Fri fragt
                         1-2 dage
                     </p>
                     <div class="product-item__description text-size--11 padding-leader--xsmall border--top border--light color-gray">
                         <p>Pris inkl. FRI+ 40 GB abonnement </p>
                         <p>Udbetaling 0,-</p>
                         <p>Minimumspris i 6 md. 6.294,-</p>
                     </div>
                 </div>
             </div>

         </div>
     </div>
         <div class="col-sm-6 col-md-3 product-item flex">
             <div class="clear padding-leader--xlarge mobile-padding-leader product-item__holder">
                 <div class="product-item__image-wrapper">
                     <div class="product-item__image-holder">
                             <div class="item__splash item__splash--top-left item__splash--red">
                                 <div class="item__splash-text">
                                     <p class="text-size--11">MOBILRABAT</p>
                                     <p class="text-size--19 text-light text-truncate">-1.363,-</p>
                                 </div>
                                 <span class="load-tester"><span class="spinner"></span></span>
                             </div>
                         <a href="">
                             <img src="../../assets/img/galaxy-large.png" alt="The worlds most hyped smart phone."/>
                         </a>
                     </div>
                     <ul class="color-selector">
                         <li>
                             <input id="radio-color-Silver-3" name="radio-color-3" type="radio" value="Silver">
                             <label tabindex="0" for="radio-color-Silver-3" style="background-color: #DADADA">Silver</label>
                         </li>
                         <li>
                             <input id="radio-color-Gold-3" name="radio-color-3" type="radio" value="Gold">
                             <label tabindex="0" for="radio-color-Gold-3" style="background-color: #E9C261">Gold</label>
                         </li>
                         <li>
                             <input id="radio-color-Gray-3" name="radio-color-3" type="radio" value="Gray" checked>
                             <label tabindex="0" for="radio-color-Gray-3" style="background-color: #747474">Gray</label>
                         </li>
                         <li>
                             <input id="radio-color-Rose-3" name="radio-color-3" type="radio" value="Rose">
                             <label tabindex="0" for="radio-color-Rose-3" style="background-color: #e0b6b0">Rose</label>
                         </li>
                     </ul>
                 </div>
                 <div class="product-item__info">
                     <div class="product-item__info-holder">
                         <h3 class="product-item__name text-size--16 trailer--xsmall">Samsung Galaxy S4</h3>
                         <p class="product-item__price text-size--36 mobile-text-size--19 text-light trailer--small">
                             200,-<span class="text-size--16 color-gray">/MD</span>
                         </p>
                         <div class="trailer--small">
                             <a href="#nogo" class="button button--action button--small">
                                 Se mobilen her
                             </a>
                         </div>
                         <p class="text-size--11 trailer--small status-dot status-dot--small status-dot--dynamic" data-alias="local-stock">
                             <span class="status-dot__icon" style="background-color: #cccc00"></span>På lager
                         </p>
                         <p class="text-size--11 trailer--small float--right mobile-float--none">
                             Fri fragt
                             1-2 dage
                         </p>
                         <div class="product-item__description text-size--11 padding-leader--xsmall border--top border--light color-gray">
                             <p>Pris inkl. FRI+ 40 GB abonnement </p>
                             <p>Udbetaling 0,-</p>
                             <p>Minimumspris i 6 md. 6.294,-</p>
                         </div>
                     </div>
                 </div>

             </div>
         </div>
         <div class="col-sm-6 col-md-3 product-item flex">
             <div class="clear padding-leader--xlarge mobile-padding-leader product-item__holder">
                 <div class="product-item__image-wrapper">
                     <div class="product-item__image-holder">
                             <div class="item__splash item__splash--top-left item__splash--purple">
                                 <div class="item__splash-text">
                                     <p class="text-size--11">MOBILRABAT</p>
                                     <p class="text-size--19 text-light text-truncate">-1.363,-</p>
                                 </div>
                                 <span class="load-tester"><span class="spinner"></span></span>
                             </div>
                         <a href="">
                             <img src="../../assets/img/galaxy-large.png" alt="The worlds most hyped smart phone."/>
                         </a>
                     </div>
                     <ul class="color-selector">
                         <li>
                             <input id="radio-color-Silver-4" name="radio-color-4" type="radio" value="Silver">
                             <label tabindex="0" for="radio-color-Silver-4" style="background-color: #DADADA">Silver</label>
                         </li>
                         <li>
                             <input id="radio-color-Gold-4" name="radio-color-4" type="radio" value="Gold">
                             <label tabindex="0" for="radio-color-Gold-4" style="background-color: #E9C261">Gold</label>
                         </li>
                         <li>
                             <input id="radio-color-Gray-4" name="radio-color-4" type="radio" value="Gray">
                             <label tabindex="0" for="radio-color-Gray-4" style="background-color: #747474">Gray</label>
                         </li>
                         <li>
                             <input id="radio-color-Rose-4" name="radio-color-4" type="radio" value="Rose" checked>
                             <label tabindex="0" for="radio-color-Rose-4" style="background-color: #e0b6b0">Rose</label>
                         </li>
                     </ul>
                 </div>
                 <div class="product-item__info">
                     <div class="product-item__info-holder">
                         <h3 class="product-item__name text-size--16 trailer--xsmall">Samsung Galaxy S4</h3>
                         <p class="product-item__price text-size--36 mobile-text-size--19 text-light trailer--small">
                             200,-<span class="text-size--16 color-gray">/MD</span>
                         </p>
                         <div class="trailer--small">
                             <a href="#nogo" class="button button--action button--small">
                                 Se mobilen her
                             </a>
                         </div>
                         <p class="text-size--11 trailer--small status-dot status-dot--small status-dot--dynamic" data-alias="local-stock">
                             <span class="status-dot__icon" style="background-color: #ff0000"></span>På lager
                         </p>
                         <p class="text-size--11 trailer--small float--right mobile-float--none">
                             Fri fragt
                             1-2 dage
                         </p>
                         <div class="product-item__description text-size--11 padding-leader--xsmall border--top border--light color-gray">
                             <p>Pris inkl. FRI+ 40 GB abonnement </p>
                             <p>Udbetaling 0,-</p>
                             <p>Minimumspris i 6 md. 6.294,-</p>
                         </div>
                     </div>
                 </div>

             </div>
         </div>
         <div class="col-sm-6 col-md-3 product-item flex">
             <div class="clear padding-leader--xlarge mobile-padding-leader product-item__holder">
                 <div class="product-item__image-wrapper">
                     <div class="product-item__image-holder">
                         <a href="">
                             <img src="../../assets/img/galaxy-large.png" alt="The worlds most hyped smart phone."/>
                         </a>
                     </div>
                     <ul class="color-selector">
                         <li>
                             <input id="radio-color-Silver-5" name="radio-color-5" type="radio" value="Silver">
                             <label tabindex="0" for="radio-color-Silver-5" style="background-color: #DADADA">Silver</label>
                         </li>
                         <li>
                             <input id="radio-color-Gold-5" name="radio-color-5" type="radio" value="Gold">
                             <label tabindex="0" for="radio-color-Gold-5" style="background-color: #E9C261">Gold</label>
                         </li>
                         <li>
                             <input id="radio-color-Gray-5" name="radio-color-5" type="radio" value="Gray" checked>
                             <label tabindex="0" for="radio-color-Gray-5" style="background-color: #747474">Gray</label>
                         </li>
                         <li>
                             <input id="radio-color-Rose-5" name="radio-color-5" type="radio" value="Rose">
                             <label tabindex="0" for="radio-color-Rose-5" style="background-color: #e0b6b0">Rose</label>
                         </li>
                     </ul>
                 </div>
                 <div class="product-item__info">
                     <div class="product-item__info-holder">
                         <h3 class="product-item__name text-size--16 trailer--xsmall">Samsung Galaxy S4</h3>
                         <p class="product-item__price text-size--36 mobile-text-size--19 text-light trailer--small">
                             200,-<span class="text-size--16 color-gray">/MD</span>
                         </p>
                         <div class="trailer--small">
                             <a href="#nogo" class="button button--action button--small">
                                 Se mobilen her
                             </a>
                         </div>
                         <p class="text-size--11 trailer--small status-dot status-dot--small status-dot--dynamic" data-alias="local-stock">
                             <span class="status-dot__icon" style="background-color: #cccc00"></span>På lager
                         </p>
                         <p class="text-size--11 trailer--small float--right mobile-float--none">
                             Fri fragt
                             1-2 dage
                         </p>
                         <div class="product-item__description text-size--11 padding-leader--xsmall border--top border--light color-gray">
                             <p>Pris inkl. FRI+ 40 GB abonnement </p>
                             <p>Udbetaling 0,-</p>
                             <p>Minimumspris i 6 md. 6.294,-</p>
                         </div>
                     </div>
                 </div>
          </div>
         </div>
     </div>
    </div>

</div>
    <!-- help section-->
    <div id="help" class="section--help section--negative container--wide">
        <div class="container text--center">
            <p class="section--help__title mobile-hidden">Get an overview on the My Telenor</p>
            <p class="section--help__subtitle"><span>Looking for your last bill - or would you switch the payment method? On My Telenor can you manage most.</span></p>
            <ul class="section--help__buttons">
                <li><a class="button button--action-dark" href="#"><span class="button__text">My Telenor</span></a></li>
            </ul>
        </div>

    </div>
    <!-- help section-end-->
</div>
</div>
    <!--main section-->
    <!-- footer section-->
    <div id="footer" class="section-footer-scroll">
        <nav class="section section--footer">
            <div class="container">
                <div class="grid-row trailer--small mobile-hidden">
                    <!-- footer:breadbcrumb-->
                    <div class="col-md-9">
                        <div class="section--footer__breadcrumb">
                            <ul>
                                <li><a href="#nogo">Home</a></li>
                                <li><a href="#nogo">Shop</a></li>
                                <li><a href="#nogo">Subscriptions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 tablet-omega footer__social text--right">
                        <a href="#nogo" class="icon-facebook track-social">
                            <span class="icon--text">Facebook</span>
                        </a>
                        <a href="#nogo" class="icon-twitter-circle track-social">
                            <span class="icon--text">Twitter</span>
                        </a>
                    </div>
                </div>
                <!-- : Footer Navigation -->
                <div class="section--footer__menu mobile-hidden">
                    <div class="flex--row">
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">About Telenor</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">About Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Notifications</a></li>
                                <li><a href="#nogo" class="track-element-click">Job at Telenor</a></li>
                                <li><a href="#nogo" class="track-element-click">Cookies</a></li>
                                <li><a href="#nogo" class="track-element-click">Privacy notice</a></li>
                                <li><a href="#nogo" class="track-element-click">Complaints and improvments</a></li>
                                <li><a href="#nogo" class="track-element-click">Newsletter</a></li>
                                <li><a href="#nogo" class="track-element-click">Find store</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Shop</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">Mobiles</a></li>
                                <li><a href="#nogo" class="track-element-click">Mobile Subscriptions</a></li>
                                <li><a href="#nogo" class="track-element-click">Mobile Broadband</a></li>
                                <li><a href="#nogo" class="track-element-click">Tablets</a></li>
                                <li><a href="#nogo" class="track-element-click">Broadband</a></li>
                                <li><a href="#nogo" class="track-element-click">Accessories</a></li>
                                <li><a href="#nogo" class="track-element-click">Prices and conditions</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Customers services</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">My Telenor (self-service)</a></li>
                                <li><a href="#nogo" class="track-element-click">Mobile Help</a></li>
                                <li><a href="#nogo" class="track-element-click">Help for broadband</a></li>
                                <li><a href="#nogo" class="track-element-click">Operating and coverage</a></li>
                                <li><a href="#nogo" class="track-element-click">Cancellation</a></li>
                                <li><a href="#nogo" class="track-element-click">Have you lost your mobile?</a></li>
                                <li><a href="#nogo" class="track-element-click">All about roaming - Roam Away</a></li>
                                <li><a href="#nogo" class="track-element-click">All about streaming</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Profession</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">Customer service</a></li>
                                <li><a href="#nogo" class="track-element-click">Mobile Subscription</a></li>
                                <li><a href="#nogo" class="track-element-click">Broadband Subscriptions</a></li>
                                <li><a href="#nogo" class="track-element-click">Mobile Broadband Subscription</a></li>
                                <li><a href="#nogo" class="track-element-click">Multiplan self</a></li>
                                <li><a href="#nogo" class="track-element-click">Webfaktura (WIP)</a></li>
                                <li><a href="#nogo" class="track-element-click">Wholesale</a></li>
                            </ul>
                        </div>
                        <div class="flex-item footer-item">
                            <h3><a href="#nogo">Popular mobiles</a></h3>
                            <ul class="list list--footer">
                                <li><a href="#nogo" class="track-element-click">Apple iPhone 7</a></li>
                                <li><a href="#nogo" class="track-element-click">Apple iPhone 7 Plus</a></li>
                                <li><a href="#nogo" class="track-element-click">Apple iPhone SE</a></li>
                                <li><a href="#nogo" class="track-element-click">Samsung Galaxy S7</a></li>
                                <li><a href="#nogo" class="track-element-click">Samsung Galaxy S7 Edge</a></li>
                                <li><a href="#nogo" class="track-element-click">Huawei P9</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--:section footer info -->
                <div class="section--footer__info">
                    <div class="grid-row">
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-hotline circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                Customer service is always open
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-one-to-one-loaner-phone circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                1: 1 mobile borrowing
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-truck circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                Free shipping and express delivery
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6 padding-trailer">
                            <div class="section--footer__info__icon icon-perfect-start circle-outline border-width-1"></div>
                            <div class="section--footer__info__txt">
                                Perfect start
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- section bottom-->
        <div class="section section--bottom">
            <div class="container">
                <div class="desktop-hidden footer__social">
                    <a href="#nogo" class="icon-facebook"><span class="icon--text">Facebook</span></a>
                    <a href="#nogo" class="icon-twitter-circle"><span class="icon--text">Twitter</span></a>
                </div>
                <div class="section--bottom__holder mobile-text--center">
                    <div class="leader--xsmall mobile-trailer--small float--right mobile-text--center clearImg">
                        <div class="float--right toleft--xsmall mobile-toleft--none mobile-trailer--xsmall">
                            <img src="../../assets/img/paymenticons.png" alt="">
                        </div>
                        <div class="float--left">
                            <img src="../../assets/img/payment-icon2.png" alt="">
                        </div>
                    </div>
                    <div class="float--left">
                        <div>
                            <ul class="adr-list">
                                <li class="icon-telenor section--bottom__logo"></li>
                                <li>Telenor</li>
                                <li> · </li>
                                <li>Frederikskaj 8</li>
                                <li> · </li>
                                <li>1780 København V</li>
                                <li class="mobile-hidden"> · </li>
                                <li class="mobile-hidden">CVR: 19433692</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer end-->
</div>
</body>
</html>
<script>
    $('.dropdown__label').click(function(event){
        event.stopPropagation();
        $('.dropdown__content').parent().addClass('is-open');
    });
    $(document).click(function(event){
        event.stopPropagation();
        $('.dropdown__content').parent().removeClass('is-open');
    });
    //导航条滚动效果
//    $(function(){
        $(window).scroll(function(){
            if ($(window).scrollTop()>=102 && $("#menu--subnav-sticky-wrapper .section--subnav").length) {
                $("#menu--subnav-sticky-wrapper").addClass('section--sticky');
            }else{
                $("#menu--subnav-sticky-wrapper").removeClass('section--sticky');
            }
        });
 //   });

</script>
