<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>customer-create-prospect-customer</title>
    <link href="../../../../assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/party.css" rel="stylesheet" type="text/css">
</head>
<body>
<!------------container----------------->
<div class="container leader--large trailer--large">
    <!------------ Create Customer ------------->
    <div>
        <header class="padding-trailer--small">
            <h1 class="text-size--36 text-light">
                Create Customer
            </h1>
        </header>
        <div class="border gradient-line--with-border">
            <div class="padding-whole padding-leader--none">
                <div class="grid-row">
                    <div class="col-md-4">
                        <div class="form-item form-item--small form-item--required">
                            <label for="">CPR Number</label>
                            <!-- component:search -->
                            <div class="form-search is-empty form-item--small" data-module="form.search">
                                <input id="search-small" type="search" placeholder="Search">
                                <button type="button" tabindex="-1" class="form-search__clear no-js--hidden icon-clear" data-list-clear=""><span class="aria--visible">Clear filter</span></button>
                                <button id="search-small-button" class="form-search__submit" tabindex="-1">
                                    <span class="icon-search"></span><span class="aria--visible">Search</span>
                                </button>
                            </div>
                            <!-- /component:search -->
                        </div>
                    </div>
                    <div class="col-md-4 form-item--multi">
                        <div class="form-item form-item--small form-item--required">
                            <label for="">Name</label>
                            <!-- component:input -->
                            <div><input type="text" placeholder="Given Name"/></div>
                            <!-- /component:input -->
                        </div>
                        <div class="form-item form-item--small form-item--required">
                            <!-- component:input -->
                            <div><input type="text" placeholder="Family Name"/></div>
                            <!-- /component:input -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-item form-item--small">
                            <label>Birth Date</label>
                            <div class="grid-row grid-row--gutter-none">
                                <div class="col-md-4">
                                    <!-- component:select -->
                                    <div data-module="form.select" class="form-select form-select--small">
                                        <select id="select1">
                                            <option value="opt1" selected="">1990</option>
                                            <option value="opt2">1991</option>
                                            <option value="opt3">1992</option>
                                        </select>
                                        <div class="form-select__field">1990</div>
                                    </div>
                                    <!-- /component:select -->
                                </div>
                                <div class="col-md-4 padding-toleft--small">
                                    <!-- component:select -->
                                    <div data-module="form.select" class="form-select form-select--small">
                                        <select id="select1">
                                            <option value="opt1" selected="">01</option>
                                            <option value="opt2">02</option>
                                            <option value="opt3">03</option>
                                        </select>
                                        <div class="form-select__field">01</div>
                                    </div>
                                    <!-- /component:select -->
                                </div>
                                <div class="col-md-4 padding-toleft--small">
                                    <!-- component:select -->
                                    <div data-module="form.select" class="form-select form-select--small">
                                        <select id="select1">
                                            <option value="opt1" selected="">22</option>
                                            <option value="opt2">23</option>
                                            <option value="opt3">24</option>
                                        </select>
                                        <div class="form-select__field">22</div>
                                    </div>
                                    <!-- /component:select -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-item form-item--small form-item--required">
                            <label for="">Birth Place</label>
                            <!-- component:input -->
                            <div><input type="text" placeholder="Please Enter"/></div>
                            <!-- /component:input -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-item form-item--small form-item--required">
                            <label for="">Legal Address</label>
                            <!-- component:search -->
                            <div class="form-search is-empty form-item--small" data-module="form.search">
                                <input id="search-small" type="search" placeholder="Search">
                                <button type="button" tabindex="-1" class="form-search__clear no-js--hidden icon-clear" data-list-clear=""><span class="aria--visible">Clear filter</span></button>
                                <button id="search-small-button" class="form-search__submit" tabindex="-1">
                                    <span class="icon-search"></span><span class="aria--visible">Search</span>
                                </button>
                            </div>
                            <!-- /component:search -->
                        </div>
                    </div>
                    <div class="text--right padding-leader col-md-12">
                        <button class="button button--naked button--small toright--small">Cancel</button>
                        <button class="button button--action button--small">Creat</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!---------- /Create Customer --------------->
</div>
<!------------/container----------------->

</body>
</html>