<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>customer-view-preference</title>
    <link href="../../../../assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/party.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-------------customer-summary-------->
<div class="section--hero">
    <div class="party-summary customer-summary">
        <div class="container">
            <a href="party-query-information-DK.html" class="text-size--13"><span class="icon-arrow-prev toright--xsmall"></span>Party Search</a>
            <div class="padding-leader clear">
                <dl class="party-summary__info">
                    <dt class="party-summary__avatar">
                        <span class="icon-person"></span>
                    </dt>
                    <dd class="party-summary__detail">
                        <div>
                            <span class="text-size--30 text-light">Jack Chen</span>
                            <sapn class="status-badge status-badge--accept">Active</sapn>
                        </div>
                        <div class="party-summary__id">
                            (110002029689)
                        </div>
                    </dd>
                </dl>
                <div class="pull-right padding-leader--med">
                    <button class="button button--small button button--action">
                        <span class="button__label icon--right icon-arrow-next"><span class="button__text">Party</span></span>
                    </button>
                    <button class="button button--small button--default button--white toright">Terminate</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!------------/customer-summary------->

<!------------cm-tab-nav----------------->
<div class="cm-tab-nav">
    <div class="container">
        <!-- component:tab -->
        <div class="tabpanel">
            <nav class="trailer">
                <ul class="tabpanel__list">
                    <li class="tabpanel__tab">
                        <a href="#nogo" class="tabpanel__link">Customer View</a>
                    </li>
                    <li class="tabpanel__tab">
                        <a href="" class="tabpanel__link">Account</a>
                    </li>
                    <li class="tabpanel__tab">
                        <a href="" class="tabpanel__link">Contact Person</a>
                    </li>
                    <li class="tabpanel__tab is-active">
                        <a href="" class="tabpanel__link">Preference</a>
                    </li>
                    <li class="tabpanel__tab">
                        <a href="" class="tabpanel__link">User Assignment</a>
                    </li>
                    <li class="tabpanel__tab">
                        <a href="" class="tabpanel__link">Timeline</a>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- /component:tab -->
    </div>
</div>
<!-----------/cm-tab-nav----------------->

<!------------container----------------->
<div class="container leader--large trailer--large">
    <!------------ Preferred Media ------------->
    <div class="trailer--large">
        <header class="padding-trailer--small">
            <h1 class="text-size--36 text-light">
                Preferred Media
                <div class="pull-right leader--xsmall">
                    <button class="button button--action button--small">Add</button>
                </div>
            </h1>
        </header>

        <!-- add a new row -->
        <div class="border gradient-line--with-border trailer">
            <div class="padding-whole">
                <h3 class="text-size--19 padding-trailer--xsmall border--bottom traile">Create New Preferred Media</h3>
                <form action="" class="grid-row">
                    <div class="col-md-3">
                        <div class="form-item form-item--small form-item--required">
                            <label for="">Contact Media</label>
                            <!-- component:select -->
                            <div data-module="form.select" class="form-select form-select--small">
                                <select id="select4">
                                    <option value="opt1" selected="">Email</option>
                                    <option value="opt2">Address</option>
                                    <option value="opt3">Phone</option>
                                </select>
                                <div class="form-select__field">Email</div>
                            </div>
                            <!-- /component:select -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-item form-item--small form-item--required">
                            <label for="">Phone Number</label>
                            <!-- component:input -->
                            <div><input type="text" placeholder="Please Enter"/></div>
                            <!-- /component:input -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-item form-item--small">
                            <label for="">Prioity</label>
                            <!-- component:select -->
                            <div data-module="form.select" class="form-select form-select--small">
                                <select id="select4">
                                    <option value="opt1" selected="">1</option>
                                    <option value="opt2">2</option>
                                    <option value="opt3">3</option>
                                </select>
                                <div class="form-select__field">1</div>
                            </div>
                            <!-- /component:select -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-item form-item--small">
                            <label for="">Media Info</label>
                            <!-- component:input -->
                            <div><input type="text" placeholder="Please Enter"/></div>
                            <!-- /component:input -->
                        </div>
                    </div>
                    <div class="text--right padding-leader col-md-12">
                        <button class="button button--naked button--small toright--small">Cancel</button>
                        <button class="button button--action button--small">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /add a new row -->
        <div class="border gradient-line--with-border">
            <div class="padding-whole padding-leader--large padding-trailer--none">
                <!--Component：TStatusMessage---start-->
                <div class="message message--success " data-module="message">
                    <div class="message__inner">
                        <span class="message__icon icon-check-grey"></span>
                        <div class="text--small message__text">
                            <p>Tips:Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <button class="message__close" aria-hidden="true"><span class="icon-remove"></span></button>
                    </div>
                </div>
                <!--Component：TStatusMessage---end-->
            </div>
            <!---component: table-->
            <table class="table table--adv">
                <thead>
                <tr>
                    <th>Priority</th>
                    <th>Media Type</th>
                    <th>Media infomation</th>
                    <th>Updated Date</th>
                    <th>Period</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="row-selected expanded">
                    <td>1</td>
                    <td>Mail</td>
                    <td>3 Edgar Buildings, George Street, Bath,BA1 2FJ </td>
                    <td>02.12.2016</td>
                    <td>
                        <div class="form-item--toggle ">
                            <input class="toggle__radio" data-toggle-value="on" id="toggle1" type="radio" name="radioGroup1" checked=""><label for="toggle1">Yes</label>
                            <input class="toggle__radio" data-toggle-value="off" id="toggle2" type="radio" name="radioGroup1"><label for="toggle2">No</label>
                            <div class="form-item--toggle__switch"><span class="icon icon-hamburger-menu"></span></div>
                            <div class="form-item--toggle__track"></div>
                        </div>
                    </td>
                    <td><a href="#nogo" class="icon-pencil "></a><a href="#nogo" class="icon-remove toleft"></a></td>
                </tr>
                <tr class="drop-row row-selected box--grey" >
                    <td class="text--center drop-item box--white" colspan="6">
                        <div class="drop-item-holder">
                            <!-- new Period -->
                            <div class="edit-row-wrapper">
                                <h3 class="text-size--19 padding-trailer--xsmall border--bottom traile">Period</h3>
                                <div class="clear padding-leader padding-trailer">
                                    <div class="pull-left">
                                        <!-- component:daterange -->
                                        <div class="datepicker form-item--inline" data-module="input.daterange" id="example-daterange" data-target="#example-table" data-target-column="0">

                                            <!-- options:end -->
                                            <input class="datepicker__start" type="date" value="2014-01-01" min="2000-01-01" max="2014-03-01" placeholder="From date">
                                            <input class="datepicker__end" type="date" value="2014-01-18" min="2000-01-01" max="2014-03-01" placeholder="To date">
                                            <button class="no-js--hidden icon icon-clear" data-list-clear="" style="display: inline-block;">
                                                <span class="aria--visible">Clear filter</span>
                                            </button>

                                            <input class="datepicker__range is-datepick" type="text" placeholder="Select dates range">
                                        </div>
                                        <!-- /component:daterange -->
                                    </div>
                                    <div class="pull-right">
                                        <button class="button button--action button--small">Add</button>
                                    </div>
                                </div>
                                <!---component: table-->
                                <table class="table table--adv">
                                    <thead>
                                    <tr>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Description</th>
                                        <th>Updated Date</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>21:00</td>
                                        <td>07:00</td>
                                        <td>Rest time</td>
                                        <td>01.05.2016</td>
                                        <td>
                                            <a href="#nogo" class="icon-pencil "></a>
                                            <a href="#nogo" class="icon-remove toleft"></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>21:00</td>
                                        <td>07:00</td>
                                        <td>Rest time</td>
                                        <td>01.05.2016</td>
                                        <td>
                                            <a href="#nogo" class="icon-pencil "></a>
                                            <a href="#nogo" class="icon-remove toleft"></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!---/component: table-->
                                <!-- /new Period -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row-selected expanded">
                    <td>2</td>
                    <td>Email</td>
                    <td>PengWayen@asiainfo.com</td>
                    <td>10.24.20166</td>
                    <td>
                        <div class="form-item--toggle ">
                            <input class="toggle__radio" data-toggle-value="on" id="toggle3" type="radio" name="radioGroup1" checked=""><label for="toggle1">Yes</label>
                            <input class="toggle__radio" data-toggle-value="off" id="toggle3" type="radio" name="radioGroup1"><label for="toggle2">No</label>
                            <div class="form-item--toggle__switch"><span class="icon icon-hamburger-menu"></span></div>
                            <div class="form-item--toggle__track"></div>
                        </div>
                    </td>
                    <td><a href="#nogo" class="icon-pencil "></a><a href="#nogo" class="icon-remove toleft"></a></td>
                </tr>
                <tr class="drop-row row-selected box--grey" >
                    <td class="text--center drop-item box--white" colspan="6">
                        <div class="drop-item-holder">
                            <!-- new Period -->
                            <div class="edit-row-wrapper">
                                <h3 class="text-size--19 padding-trailer--xsmall border--bottom traile">Period</h3>
                                <div class="clear padding-leader padding-trailer">
                                    <div class="pull-left">
                                        <!-- component:daterange -->
                                        <div class="datepicker form-item--inline" data-module="input.daterange" id="example-daterange" data-target="#example-table" data-target-column="0">

                                            <!-- options:end -->
                                            <input class="datepicker__start" type="date" value="2014-01-01" min="2000-01-01" max="2014-03-01" placeholder="From date">
                                            <input class="datepicker__end" type="date" value="2014-01-18" min="2000-01-01" max="2014-03-01" placeholder="To date">
                                            <button class="no-js--hidden icon icon-clear" data-list-clear="" style="display: inline-block;">
                                                <span class="aria--visible">Clear filter</span>
                                            </button>

                                            <input class="datepicker__range is-datepick" type="text" placeholder="Select dates range">
                                        </div>
                                        <!-- /component:daterange -->
                                    </div>
                                    <div class="pull-right">
                                        <button class="button button--action button--small">Add</button>
                                    </div>
                                </div>
                                <!-- /new Period -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="row-selected expanded">
                    <td>3</td>
                    <td>Phone</td>
                    <td>PengWayen@asiainfo.com</td>
                    <td>10.24.20166</td>
                    <td>
                        <div class="form-item--toggle ">
                            <input class="toggle__radio" data-toggle-value="on" id="toggle1" type="radio" name="radioGroup1" checked=""><label for="toggle1">Yes</label>
                            <input class="toggle__radio" data-toggle-value="off" id="toggle2" type="radio" name="radioGroup1"><label for="toggle2">No</label>
                            <div class="form-item--toggle__switch"><span class="icon icon-hamburger-menu"></span></div>
                            <div class="form-item--toggle__track"></div>
                        </div>
                    </td>
                    <td><a href="#nogo" class="icon-pencil "></a><a href="#nogo" class="icon-remove toleft"></a></td>
                </tr>
                <tr class="drop-row row-selected box--grey" >
                    <td class="text--center drop-item box--white" colspan="6">
                        <div class="drop-item-holder">
                            <!-- edit Preferred Media-->
                            <div class="edit-row-wrapper">
                                <h3 class="text-size--19 padding-trailer--xsmall border--bottom traile">Edit Preferred Media</h3>
                                <form action="" class="grid-row">
                                    <div class="col-md-3">
                                        <div class="form-item form-item--small form-item--required">
                                            <label for="">Contact Media</label>
                                            <!-- component:select -->
                                            <div data-module="form.select" class="form-select form-select--small">
                                                <select id="select4">
                                                    <option value="opt1" selected="">Email</option>
                                                    <option value="opt2">Address</option>
                                                    <option value="opt3">Phone</option>
                                                </select>
                                                <div class="form-select__field">Email</div>
                                            </div>
                                            <!-- /component:select -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-item form-item--small form-item--required">
                                            <label for="">Phone Number</label>
                                            <!-- component:input -->
                                            <div><input type="text" placeholder="Please Enter"></div>
                                            <!-- /component:input -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-item form-item--small">
                                            <label for="">Prioity</label>
                                            <!-- component:select -->
                                            <div data-module="form.select" class="form-select form-select--small">
                                                <select id="select4">
                                                    <option value="opt1" selected="">1</option>
                                                    <option value="opt2">2</option>
                                                    <option value="opt3">3</option>
                                                </select>
                                                <div class="form-select__field">1</div>
                                            </div>
                                            <!-- /component:select -->
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-item form-item--small">
                                            <label for="">Media Info</label>
                                            <!-- component:input -->
                                            <div><input type="text" placeholder="Please Enter"></div>
                                            <!-- /component:input -->
                                        </div>
                                    </div>
                                    <div class="text--right padding-leader col-md-12">
                                        <button class="button button--naked button--small toright--small">Cancel</button>
                                        <button class="button button--action button--small">Save</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /edit Preferred Media-->

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!---/component: table-->
            <div class="padding-whole mobile-hidden">
                <!--component:select menu-->
                <div data-component="select" data-alias="lengthMenu"
                     class="form-select form-select--length form-item--inline form-select--small">
                    <select name="length">
                        <option value="10" selected="selected">Vis 10</option>
                        <option value="50">Vis 50</option>
                        <option value="100">Vis 100</option>
                        <option value="500">Vis 500</option>
                    </select>

                    <div class="form-select__field">Vis 10</div>
                </div>
                <!--/component:select menu-->
                <!-- component: pager -->
                <div class="pager pager--default pull-right" data-component="pager" data-alias="pagination">
                    <a class="pager__button previous" data-selector="page-previous">previous</a>
                        <span data-selector="pages">
                            <a class="pager__button" data-selector="page-button" data-page-number="1">1</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="2">2</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="3">3</a>
                            <a class="pager__button current" data-selector="page-button" data-page-number="4">4</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="5">5</a>
                            <span class="pager__elipsis">…</span>
                            <a class="pager__button" data-selector="page-button" data-page-number="24">24</a>
                        </span>
                    <a class="pager__button next" data-selector="page-next">next</a>
                </div>
                <!-- /component: pager -->
            </div>
        </div>
    </div>
    <!---------- /Preferred Media --------------->

    <!------------ Preferred Shop ------------->
    <div>
        <header class="padding-trailer--small">
            <h1 class="text-size--36 text-light">
                Preferred Shop
                <div class="pull-right leader--xsmall">
                    <button class="button button--action button--small" data-role="add-row">Add</button>
                </div>
            </h1>
        </header>
        <div class="border gradient-line--with-border trailer">
            <div class="padding-whole">
                <h3 class="text-size--19 padding-trailer--xsmall border--bottom traile">Add a Preferred Shop</h3>
                <form action="" class="grid-row">
                    <div class="col-md-3">
                        <div class="form-item form-item--small form-item--required">
                            <label for="">Shop Name</label>
                            <!-- component:autocomplete -->
                            <div class="autocomplete-plugin form-item form-item--required dropdown">
                                <input type="text">
                                <div role="menu" id="autocompleteDropdown" class="dropdown__content">
                                    <div class="dropdown__scroll">
                                        <ul class="dropdown__list"></ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /component:autocomplete -->
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-item form-item--small form-item--required">
                            <label for="">Prioity</label>
                            <!-- component:input -->
                            <div><input type="text" placeholder="Please Enter"></div>
                            <!-- /component:input -->
                        </div>
                    </div>
                    <div class="text--right padding-leader col-md-12">
                        <button class="button button--naked button--small toright--small">Cancel</button>
                        <button class="button button--action button--small">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="border gradient-line--with-border">
            <div class="padding-whole padding-leader--large padding-trailer--none">
                <!--Component：TStatusMessage---start-->
                <div class="message message--success " data-module="message">
                    <div class="message__inner">
                        <span class="message__icon icon-check-grey"></span>
                        <div class="text--small message__text">
                            <p>Tips:Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
                        </div>
                        <button class="message__close" aria-hidden="true"><span class="icon-remove"></span></button>
                    </div>
                </div>
                <!--Component：TStatusMessage---end-->
            </div>
            <!---component: table-->
            <table class="table table--adv">
                <thead>
                <tr>
                    <th>Priority</th>
                    <th>Shop ID</th>
                    <th>Shop Name</th>
                    <th>Updated Date</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>92043</td>
                    <td>Collection Group</td>
                    <td>29.08, 2016 10:03</td>
                    <td><a href="#nogo" class="icon-remove"></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>92043</td>
                    <td>Collection Group</td>
                    <td>29.08, 2016 10:03</td>
                    <td><a href="#nogo" class="icon-remove"></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>92043</td>
                    <td>Collection Group</td>
                    <td>29.08, 2016 10:03</td>
                    <td><a href="#nogo" class="icon-remove"></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>92043</td>
                    <td>Collection Group</td>
                    <td>29.08, 2016 10:03</td>
                    <td><a href="#nogo" class="icon-remove"></a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>92043</td>
                    <td>Collection Group</td>
                    <td>29.08, 2016 10:03</td>
                    <td><a href="#nogo" class="icon-remove"></a></td>
                </tr>
                </tbody>
            </table>
            <!---/component: table-->
            <div class="padding-whole mobile-hidden">
                <!--component:select menu-->
                <div data-component="select" data-alias="lengthMenu"
                     class="form-select form-select--length form-item--inline form-select--small">
                    <select name="length">
                        <option value="10" selected="selected">Vis 10</option>
                        <option value="50">Vis 50</option>
                        <option value="100">Vis 100</option>
                        <option value="500">Vis 500</option>
                    </select>

                    <div class="form-select__field">Vis 10</div>
                </div>
                <!--/component:select menu-->
                <!-- component: pager -->
                <div class="pager pager--default pull-right" data-component="pager" data-alias="pagination">
                    <a class="pager__button previous" data-selector="page-previous">previous</a>
                        <span data-selector="pages">
                            <a class="pager__button" data-selector="page-button" data-page-number="1">1</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="2">2</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="3">3</a>
                            <a class="pager__button current" data-selector="page-button" data-page-number="4">4</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="5">5</a>
                            <span class="pager__elipsis">…</span>
                            <a class="pager__button" data-selector="page-button" data-page-number="24">24</a>
                        </span>
                    <a class="pager__button next" data-selector="page-next">next</a>
                </div>
                <!-- /component: pager -->
            </div>
        </div>
    </div>
    <!---------- /Preferred Shop --------------->
</div>
<!------------/container----------------->

</body>
</html>