<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>customer add address</title>
    <link href="../../p-eshop/assets/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container leader--large trailer--large">
    <!------------ Address Information  ------------->
    <div>

        <header class="padding-trailer--small">
            <h1 class="text-size--36 text-light">
                Address Information
                <div class="pull-right leader--xsmall">
                    <button class="button button--action button--small">Add</button>
                </div>
            </h1>
        </header>

        <!-- add a new address -->
        <div class="border gradient-line--with-border trailer">
            <div class="padding-whole">
                <h3 class="text-size--19 padding-trailer--xsmall border--bottom traile">Add an Address to Customer</h3>
                <form action="" class="grid-row">
                    <div class="col-md-6">
                        <div class="form-item form-item--small">
                            <label for="">Address Type</label>
                            <!-- Radiobutton bar -->
                            <div class="radiobutton-row radiobutton-row--small button--bar__character grid-row grid-row--gutter-none">
                            <input type="radio" name="small-group" value="yes" id="small-group_0" checked="checked">
                            <label class="text--medium col-md-4 text--center" for="small-group_0">
                                Legal
                            </label>
                            <input type="radio" name="small-group" value="no" id="small-group_1">
                            <label class="text--medium col-md-4 text--center" for="small-group_1">
                                Farm
                            </label>
                            <input type="radio" name="small-group" value="no" id="small-group_2">
                            <label class="text--medium col-md-4 text--center" for="small-group_2">
                                Contact
                            </label>
                        </div>
                            <!-- /Radiobutton bar -->
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-item form-item--small">
                            <label for="">Attention People</label>
                            <!-- component:input -->
                            <div><input type="text" placeholder="Please Enter"></div>
                            <!-- /component:input -->
                        </div>
                    </div>
                    <div class="col-md-12 leader--large">
                        <ul class="form-item form-inline box--default padding-toleft padding-leader--xsmall padding-trailer--xsmall">
                            <li class="form-radio form-radio--small">
                                <input type="radio" checked="" name="rad-inline-small" value="--some-value--" id="rad-inline-small-0">
                                <label for="rad-inline-small-0">Denmark Address</label>
                            </li>
                            <li class="form-radio form-radio--small">
                                <input type="radio" name="rad-inline-small" id="rad-inline-small-1" value="--some-value--">
                                <label for="rad-inline-small-1">Foreign Address</label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-12 padding-leader--small">
                        <!--Component：StatusMessage -->
                        <div class="message message--error leader--small" data-module="message">
                            <div class="message__inner">
                                <span class="message__icon icon-reject"></span>
                                <div class="text--small message__text">
                                    <p>Lorem ipsum dolor sit amet</p>
                                </div>
                                <button class="message__close" aria-hidden="true"><span class="icon-remove"></span></button>
                            </div>
                        </div>
                        <!--/Component：StatusMessage -->
                    </div>
                    <div class="col-md-6">
                        <div class="grid-row grid-row--gutter-none form-item--multi-fields">
                            <div class="col-md-6">
                                <div class="form-item form-item--required form-item--small">
                                    <label for="">Street Name</label>
                                    <!-- component:input -->
                                    <div><input type="text"></div>
                                    <!-- /component:input -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-item form-item--required form-item--small">
                                    <label for="">House Number</label>
                                    <!-- component:input -->
                                    <div><input type="text"></div>
                                    <!-- /component:input -->
                                </div>
                            </div>
                        </div>
                     </div>
                    <div class="col-md-6">
                        <div class="grid-row grid-row--gutter-none form-item--multi-fields">
                            <div class="col-md-2">
                                <div class="form-item form-item--small">
                                    <label for="">Lettter</label>
                                    <!-- component:input -->
                                    <div><input type="text"></div>
                                    <!-- /component:input -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-item form-item--small">
                                    <label for="">Floor</label>
                                    <!-- component:input -->
                                    <div><input type="text"></div>
                                    <!-- /component:input -->
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-item form-item--small">
                                    <label for="">Side</label>
                                    <!-- component:input -->
                                    <div><input type="text"></div>
                                    <!-- /component:input -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-item form-item--small">
                                    <label for="">Main Door</label>
                                    <!-- component:input -->
                                    <div><input type="text"></div>
                                    <!-- /component:input -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-item form-item--small">
                                    <label for="">Door Number</label>
                                    <!-- component:input -->
                                    <div><input type="text"></div>
                                    <!-- /component:input -->
                                </div>
                            </div>
                        </div>
                     </div>
                    <div class="col-md-6">
                        <div class="grid-row grid-row--gutter-none form-item--multi-fields">
                            <div class="col-md-3">
                                <div class="form-item form-item--small form-item--required">
                                    <label for="">Zip Code</label>
                                    <!-- component:autocomplete -->
                                    <div class="autocomplete-plugin form-item form-item--required dropdown">
                                        <input type="text">

                                        <div role="menu" id="autocompleteDropdown"
                                             class="dropdown__content">
                                            <div class="dropdown__scroll">
                                                <ul class="dropdown__list"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /component:autocomplete -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-item form-item--small form-item--required">
                                    <label for="">City</label>
                                    <!-- component:input -->
                                    <div><input type="text"></div>
                                    <!-- /component:input -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-item form-item--small form-item--required">
                                    <label for="">County</label>
                                    <!-- component:autocomplete -->
                                    <div class="autocomplete-plugin form-item form-item--required dropdown">
                                        <input type="text">

                                        <div role="menu" id="autocompleteDropdown"
                                             class="dropdown__content">
                                            <div class="dropdown__scroll">
                                                <ul class="dropdown__list"></ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /component:autocomplete -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-item form-item--small">
                                    <label for="">P.O.Box</label>
                                    <!-- component:input -->
                                    <div><input type="text"></div>
                                    <!-- /component:input -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="grid-row grid-row--gutter-none form-item--multi-fields">
                            <div class="col-md-6">
                                <div class="form-item form-item--small">
                                    <label for="">C/O</label>
                                    <!-- component:input -->
                                    <div><input type="text"></div>
                                    <!-- /component:input -->
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-item form-item--small">
                                    <label for="">Municipality</label>
                                    <!-- component:input -->
                                    <div><input type="text"></div>
                                    <!-- /component:input -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text--right padding-leader col-md-12">
                        <button class="button button--naked button--small toright--small">Cancel</button>
                        <button class="button button--action button--small">Submit</button>
                    </div>
                </form>

                <!-- loading -->
                <div class="text--center">
                    <div class="load-tester load-large inline-block">
                        <span class="spinner"></span>
                    </div>
                </div>
                <!-- /loading -->

                <!-- search result -->
                <div>
                    <div class="padding-leader--small trailer--large">
                        <!--Component：StatusMessage -->
                        <div class="message message--info " data-module="message">
                            <div class="message__inner">
                                <span class="message__icon icon icon-notification"></span>
                                <div class="text--small message__text">
                                    <p>According to your input we match multiple addresses, please choose one to use</p>
                                </div>
                                <button class="message__close" aria-hidden="true"><span class="icon-remove"></span></button>
                            </div>
                        </div>
                        <!--/Component：StatusMessage -->
                    </div>
                    <!--Component：TDataTable---start-->
                    <table class="table table--default table--lines" id="DataTables_Table_0" role="grid" >
                        <thead class="box--greyed border border--light">
                        <tr role="row">
                            <th>Country</th>
                            <th>Type</th>
                            <th>Description</th>
                            <th>Zip Code</th>
                            <th>Municipality</th>
                            <th>C/O</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr role="row">
                            <td>Denmark</td>
                            <td>--</td>
                            <td>Laulundgade 20 D 7400 Herning</td>
                            <td>7440</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        <tr role="row">
                            <td>Denmark</td>
                            <td>--</td>
                            <td>Rebildparken 99 9220 Aalborg</td>
                            <td>9200</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--Component：TDataTable---end-->
                </div>
                <!-- search result -->

            </div>
        </div>
        <!-- /add a new address -->

        <!-- address table -->
        <div class="border gradient-line--with-border">
            <div class="padding-whole padding-leader--large padding-trailer--none">
                <!--Component：TStatusMessage---start-->
                <div class="message message--success " data-module="message">
                    <div class="message__inner">
                        <span class="message__icon icon-check-grey"></span>
                        <div class="text--small message__text">
                            <p>Tips: Add Address Success .</p>
                        </div>
                        <button class="message__close" aria-hidden="true"><span class="icon-remove"></span></button>
                    </div>
                </div>
                <!--Component：TStatusMessage---end-->
            </div>
            <!---component:table-->
            <table class="table table--adv">
                <thead>
                <tr>
                    <th class="form-checkbox all form-checkbox--single sorting_disabled">
                        <a class="form-checkbox--result" href="#" data-state="some-selected">
                            <label></label>
                        </a>
                    </th>
                    <th>Address Type</th>
                    <th>Address</th>
                    <th>Attention People</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr class="row-selected expanded">
                    <td class="form-checkbox form-checkbox--single">
                        <input type="checkbox">
                        <label></label>
                    </td>
                    <td>Legal</td>
                    <td>3 Edgar Buildings, George Street, Bath,BA1 2FJ</td>
                    <td>Fluves Rope</td>
                    <td>
                        <a href="#nogo" class="icon-pencil "></a>
                    </td>
                </tr>
                <tr class="drop-row row-selected box--grey">
                    <td class="text--center drop-item box--white" colspan="8">
                        <div class="drop-item-holder">
                            <!-- Edit data row -->
                            <div class="edit-row-wrapper">
                                <h3 class="text-size--19 padding-trailer--xsmall border--bottom traile">Edit Address</h3>
                                <form action="" class="grid-row">
                                    <div class="col-md-6">
                                        <div class="form-item form-item--small">
                                            <label for="">Address Type</label>
                                            <!-- Radiobutton bar -->
                                            <div class="radiobutton-row radiobutton-row--small button--bar__character grid-row grid-row--gutter-none">
                                                <input type="radio" name="small-group" value="yes" id="small-group_0" checked="checked">
                                                <label class="text--medium col-md-4 text--center" for="small-group_0">
                                                    Legal
                                                </label>
                                                <input type="radio" name="small-group" value="no" id="small-group_1">
                                                <label class="text--medium col-md-4 text--center" for="small-group_1">
                                                    Farm
                                                </label>
                                                <input type="radio" name="small-group" value="no" id="small-group_2">
                                                <label class="text--medium col-md-4 text--center" for="small-group_2">
                                                    Contact
                                                </label>
                                            </div>
                                            <!-- /Radiobutton bar -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-item form-item--small">
                                            <label for="">Attention People</label>
                                            <!-- component:input -->
                                            <div><input type="text" placeholder="Please Enter"></div>
                                            <!-- /component:input -->
                                        </div>
                                    </div>
                                    <div class="col-md-12 leader--large">
                                        <ul class="form-item form-inline box--default padding-toleft padding-leader--xsmall padding-trailer--xsmall">
                                            <li class="form-radio form-radio--small">
                                                <input type="radio" name="rad-inline-small" value="--some-value--" id="rad-inline-small-2">
                                                <label for="rad-inline-small-2">Denmark Address</label>
                                            </li>
                                            <li class="form-radio form-radio--small">
                                                <input type="radio" name="rad-inline-small" id="rad-inline-small-3" value="--some-value--" checked="">
                                                <label for="rad-inline-small-3">Foreign Address</label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-md-12 padding-leader--small">
                                        <!--Component：StatusMessage -->
                                        <div class="message message--error leader--small" data-module="message">
                                            <div class="message__inner">
                                                <span class="message__icon icon-reject"></span>
                                                <div class="text--small message__text">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                </div>
                                                <button class="message__close" aria-hidden="true"><span class="icon-remove"></span></button>
                                            </div>
                                        </div>
                                        <!--/Component：StatusMessage -->
                                    </div>
                                    <div class="col-md-6">
                                        <div class="grid-row grid-row--gutter-none form-item--multi-fields">
                                            <div class="col-md-6">
                                                <div class="form-item form-item--required form-item--small">
                                                    <label for="">Street Name</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-item form-item--required form-item--small">
                                                    <label for="">House Number</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="grid-row grid-row--gutter-none form-item--multi-fields">
                                            <div class="col-md-2">
                                                <div class="form-item form-item--small">
                                                    <label for="">Lettter</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-item form-item--small">
                                                    <label for="">Floor</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="form-item form-item--small">
                                                    <label for="">Side</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-item form-item--small">
                                                    <label for="">Main Door</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-item form-item--small">
                                                    <label for="">Door Number</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="grid-row grid-row--gutter-none form-item--multi-fields">
                                            <div class="col-md-3">
                                                <div class="form-item form-item--small form-item--required">
                                                    <label for="">Zip Code</label>
                                                    <!-- component:autocomplete -->
                                                    <div class="autocomplete-plugin form-item form-item--required dropdown">
                                                        <input type="text">

                                                        <div role="menu" id="autocompleteDropdown"
                                                             class="dropdown__content">
                                                            <div class="dropdown__scroll">
                                                                <ul class="dropdown__list"></ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /component:autocomplete -->
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-item form-item--small form-item--required">
                                                    <label for="">City</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-item form-item--small form-item--required">
                                                    <label for="">County</label>
                                                    <!-- component:autocomplete -->
                                                    <div class="autocomplete-plugin form-item form-item--required dropdown">
                                                        <input type="text">

                                                        <div role="menu" id="autocompleteDropdown"
                                                             class="dropdown__content">
                                                            <div class="dropdown__scroll">
                                                                <ul class="dropdown__list"></ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /component:autocomplete -->
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="form-item form-item--small">
                                                    <label for="">P.O.Box</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="grid-row grid-row--gutter-none form-item--multi-fields">
                                            <div class="col-md-4">
                                                <div class="form-item form-item--small">
                                                    <label for="">C/O</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-item form-item--small">
                                                    <label for="">Municipality</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                            <div class="col-md-4">
                                                <div class="form-item form-item--small form-item--required">
                                                    <label for="">Country</label>
                                                    <!-- component:input -->
                                                    <div><input type="text"></div>
                                                    <!-- /component:input -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text--right padding-leader col-md-12">
                                        <button class="button button--naked button--small toright--small">Cancel</button>
                                        <button class="button button--action button--small">Submit</button>
                                    </div>
                                </form>
                            </div>
                            <!-- /Edit data row -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="form-checkbox form-checkbox--single">
                        <input type="checkbox">
                        <label></label>
                    </td>
                    <td>Legal</td>
                    <td>3 Edgar Buildings, George Street, Bath,BA1 2FJ</td>
                    <td>Fluves Rope</td>
                    <td>
                        <a href="#nogo" class="icon-pencil "></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!---/component:table-->
            <div class="padding-whole mobile-hidden">
                <!--component:select menu-->
                <div data-component="select" data-alias="lengthMenu"
                     class="form-select form-select--length form-item--inline form-select--small">
                    <select name="length">
                        <option value="10" selected="selected">Vis 10</option>
                        <option value="50">Vis 50</option>
                        <option value="100">Vis 100</option>
                        <option value="500">Vis 500</option>
                    </select>

                    <div class="form-select__field">Vis 10</div>
                </div>
                <!--/component:select menu-->
                <!-- component: pager -->
                <div class="pager pager--default pull-right" data-component="pager" data-alias="pagination">
                    <a class="pager__button previous" data-selector="page-previous">previous</a>
                        <span data-selector="pages">
                            <a class="pager__button" data-selector="page-button" data-page-number="1">1</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="2">2</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="3">3</a>
                            <a class="pager__button current" data-selector="page-button" data-page-number="4">4</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="5">5</a>
                            <span class="pager__elipsis">…</span>
                            <a class="pager__button" data-selector="page-button" data-page-number="24">24</a>
                        </span>
                    <a class="pager__button next" data-selector="page-next">next</a>
                </div>
                <!-- /component: pager -->
            </div>
        </div>
        <!-- /address table-->

    </div>
    <!---------- /Address Information --------------->
</div>
</body>
</html>
