<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>party user</title>
    <link href="../../../../assets/css/main.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/party.css" rel="stylesheet" type="text/css">
</head>
<!-- 手机端菜单滑出时 增加 offcanvas--open -->
<body class="offcanvas">
    <!-- 手机端菜单滑出时 增加 is-disabled -->
    <div class="section--oncanvas">
        <!-------------nav------------------>
        <nav class="menu-wrapper">
            <!--desktop:menu-->
            <div class="section mobile-hidden">
                <div class="container section--menu">
                    <ul class="menu--main">
                        <li><a href="#">Individual Customer </a></li>
                        <li><a href="#">Corporate Customer</a></li>
                        <li><a href="#" class="current">Party</a></li>
                        <li><a href="#">Batch Task</a></li>
                        <li><a href="#">Log Query</a></li>
                        <li><a href="#">Setting</a></li>
                    </ul>
                </div>
            </div>
            <!--/desktop:menu-->
            <!--Mobile menu -->
            <div class="nav-mobile desktop-hidden" role="navigation">
                <div class="nav-mobile__container">
                    <ul>
                        <li>
                            <a href="javascript:;">
                                <span class="icon--text">Menu</span>
                                <span class="icon icon-hamburger-menu nav-mobile__icon" aria-hidden="true"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--/Mobile menu -->
        </nav>
        <!------------/nav------------------>

        <!-------------party-summary-------->
        <div class="section--hero section--negative">
            <div class="party-summary">
                <div class="container">
                    <a href="party-query-information-DK.html" class="color-white text-size--13"><span class="icon-arrow-prev toright--xsmall"></span>Party Search</a>
                    <div class="padding-leader--large clear">
                        <dl class="party-summary__info">
                            <dt class="party-summary__avatar">
                                <span class="icon-building"></span>
                            </dt>
                            <dd class="party-summary__detail">
                                <div>
                                    <span class="text-size--30 text-light">AsiaInfo</span>
                                    <span class="party-summary__id">
                                        (110002029689)
                                    </span>
                                    <sapn class="status-badge status-badge--accept">Active</sapn>
                                </div>
                                <div class="text-size--13 leader--xsmall">
                                    <span class="icon-placemarker"></span>
                                    <span class="toleft--small">Laulundgade 20 D7400 Herning</span>
                                </div>
                                <div class="text-size--13">
                                    <span class="icon-paper_list"></span>
                                    <span class="toleft--small toright--xsmall">120360***(KOB)</span>
                                    <span class="party-summary__registration-time">(05.10.1996-05.10.2016)</span>
                                </div>
                            </dd>
                        </dl>
                        <ul class="party-summary__role-list">
                            <li><a href="party-organization-relationships.html"><span class="icon-people circle-background with-border"></span></a></li>
                            <li><a href="party-organization-DK.html"><span class="icon-building circle-background with-border"></span></a></li>
                            <li><a href="party-organization-payer.html"><span class="icon-alternative_offer circle-background with-border"></span></a></li>
                            <li class="current"><a href="party-organization-user.html"><span class="icon-mobile circle-background with-border"></span></a></li>
                            <li><a href="#"><span class="icon-impersonation circle-background with-border"></span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!------------/party-summary------->

        <!------------cm-tab-nav----------------->
        <div class="cm-tab-nav">
            <div class="container">
                <!-- component:tab -->
                <div class="tabpanel">
                    <nav class="trailer">
                        <ul class="tabpanel__list">
                            <li class="tabpanel__tab is-active">
                                <a href="#nogo" class="tabpanel__link">Basic Information</a>
                            </li>
                            <li class="tabpanel__tab">
                                <a href="" class="tabpanel__link">Log</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- /component:tab -->
            </div>
        </div>
        <!-----------/cm-tab-nav----------------->

        <!------------container----------------->
        <div class="container leader--large trailer--large">
            <!------------ User --------------------->
            <div class="trailer--large ">
                <header class="padding-trailer--small">
                    <h1 class="text-size--36 text-light">
                        User
                        <a class="bullet-link text--small text-regular padding-leader leader--xsmall float-right" href="#nogo">View All and Modify</a>
                    </h1>
                </header>
                <div class="border gradient-line--with-border">
                    <div class="padding-whole">
                        <h3 class="text-size--19 padding-trailer--xsmall border--bottom">Basic Information</h3>
                        <div class="grid-row">
                            <dl class="col-md-4 terms-list terms-list--small">
                                <dt>Payer Status</dt>
                                <dd>Active</dd>
                            </dl>
                        </div>
                        <h3 class="text-size--19 padding-trailer--xsmall border--bottom leader--large">Permission for Marketing/Offer Proposal</h3>
                        <div class="grid-row">
                            <dl class="col-md-4 terms-list terms-list--small">
                                <dt>Permission for Marketing/Offer Proposal</dt>
                                <dd>N/A</dd>
                            </dl>
                            <dl class="col-md-4 terms-list terms-list--small">
                                <dt>Effective Date</dt>
                                <dd>05.10.1996</dd>
                            </dl>
                            <dl class="col-md-4 terms-list terms-list--small">
                                <dt>Expiry Date</dt>
                                <dd>05.10.2016</dd>
                            </dl>
                        </div>
                        <h3 class="text-size--19 padding-trailer--xsmall border--bottom leader--large">Commercial Protection</h3>
                        <div class="grid-row">
                            <dl class="col-md-4 terms-list terms-list--small">
                                <dt>Commercial Protection</dt>
                                <dd>N/A</dd>
                            </dl>
                            <dl class="col-md-4 terms-list terms-list--small">
                                <dt>Effective Date</dt>
                                <dd>05.10.1996</dd>
                            </dl>
                            <dl class="col-md-4 terms-list terms-list--small">
                                <dt>Expiry Date</dt>
                                <dd>05.10.2016</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
            <!------------- /User--------------------->

            <!------------ Address Information ------------->
            <div class="trailer--large">
                <header class="padding-trailer--small">
                    <h1 class="text-size--36 text-light">
                        Address Information
                    </h1>
                </header>

                <div class="border gradient-line--with-border">
                    <!--component: table-->
                    <table class="table table--adv">
                        <thead>
                        <tr>
                            <th>Address Type</th>
                            <th>Address</th>
                            <th>Protection</th>
                            <th>Protection Starts</th>
                            <th>Protection Ends</th>
                            <th>Attention People</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Legal</td>
                            <td>Laulundgade 20 D 7400 Herning</td>
                            <td>No</td>
                            <td>05.10.1996</td>
                            <td>05.10.2016</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Legal</td>
                            <td>Laulundgade 20 D 7400 Herning</td>
                            <td>No</td>
                            <td>05.10.1996</td>
                            <td>05.10.2016</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Legal</td>
                            <td>Laulundgade 20 D 7400 Herning</td>
                            <td>No</td>
                            <td>05.10.1996</td>
                            <td>05.10.2016</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Legal</td>
                            <td>Laulundgade 20 D 7400 Herning</td>
                            <td>No</td>
                            <td>05.10.1996</td>
                            <td>05.10.2016</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Legal</td>
                            <td>Laulundgade 20 D 7400 Herning</td>
                            <td>No</td>
                            <td>05.10.1996</td>
                            <td>05.10.2016</td>
                            <td>N/A</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--/component: table-->
                    <div class="padding-whole mobile-hidden">
                        <!--component:select menu-->
                        <div data-component="select" data-alias="lengthMenu"
                             class="form-select form-select--length form-item--inline form-select--small">
                            <select name="length">
                                <option value="10" selected="selected">Vis 10</option>
                                <option value="50">Vis 50</option>
                                <option value="100">Vis 100</option>
                                <option value="500">Vis 500</option>
                            </select>

                            <div class="form-select__field">Vis 10</div>
                        </div>
                        <!--/component:select menu-->
                        <!-- component: pager -->
                        <div class="pager pager--default pull-right" data-component="pager" data-alias="pagination">
                            <a class="pager__button previous" data-selector="page-previous">previous</a>
                        <span data-selector="pages">
                            <a class="pager__button" data-selector="page-button" data-page-number="1">1</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="2">2</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="3">3</a>
                            <a class="pager__button current" data-selector="page-button" data-page-number="4">4</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="5">5</a>
                            <span class="pager__elipsis">…</span>
                            <a class="pager__button" data-selector="page-button" data-page-number="24">24</a>
                        </span>
                            <a class="pager__button next" data-selector="page-next">next</a>
                        </div>
                        <!-- /component: pager -->
                    </div>
                </div>
            </div>
            <!---------- /Address Information --------------->

            <!---------- Contact Media Information --------------->
            <div class="trailer--large">
                <header class="padding-trailer--small">
                    <h1 class="text-size--36 text-light">
                        Contact Media Information
                    </h1>
                </header>
                <div class="border gradient-line--with-border">
                    <!--/component: table-->
                    <table class="table table--adv">
                        <thead>
                        <tr>
                            <th>Media Type</th>
                            <th>Contact Information</th>
                            <th>Priority</th>
                            <th>Do Not Disturb</th>
                            <th>Effective Date</th>
                            <th>Remarks</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Email</td>
                            <td>234198754@163.com</td>
                            <td>1</td>
                            <td>Yes</td>
                            <td>05.10.2016</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>234198754@163.com</td>
                            <td>1</td>
                            <td>Yes</td>
                            <td>05.10.2016</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>234198754@163.com</td>
                            <td>1</td>
                            <td>Yes</td>
                            <td>05.10.2016</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>234198754@163.com</td>
                            <td>1</td>
                            <td>Yes</td>
                            <td>05.10.2016</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>234198754@163.com</td>
                            <td>1</td>
                            <td>Yes</td>
                            <td>05.10.2016</td>
                            <td>N/A</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--/component: table-->
                    <div class="padding-whole mobile-hidden">
                        <!--component:select menu-->
                        <div data-component="select" data-alias="lengthMenu"
                             class="form-select form-select--length form-item--inline form-select--small">
                            <select name="length">
                                <option value="10" selected="selected">Vis 10</option>
                                <option value="50">Vis 50</option>
                                <option value="100">Vis 100</option>
                                <option value="500">Vis 500</option>
                            </select>

                            <div class="form-select__field">Vis 10</div>
                        </div>
                        <!--/component:select menu-->
                        <!-- component: pager -->
                        <div class="pager pager--default pull-right" data-component="pager" data-alias="pagination">
                            <a class="pager__button previous" data-selector="page-previous">previous</a>
                        <span data-selector="pages">
                            <a class="pager__button" data-selector="page-button" data-page-number="1">1</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="2">2</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="3">3</a>
                            <a class="pager__button current" data-selector="page-button" data-page-number="4">4</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="5">5</a>
                            <span class="pager__elipsis">…</span>
                            <a class="pager__button" data-selector="page-button" data-page-number="24">24</a>
                        </span>
                            <a class="pager__button next" data-selector="page-next">next</a>
                        </div>
                        <!-- /component: pager -->
                    </div>
                </div>
            </div>
            <!---------- /Contact Media Information --------------->

            <!---------- Subscriber and User Information --------------->
            <div>
                <header class="padding-trailer--small">
                    <h1 class="text-size--36 text-light">
                        Subscriber and User Information
                    </h1>
                </header>
                <div class="border gradient-line--with-border" data-role="">
                    <!--component: table-->
                    <table class="table table--adv">
                        <thead>
                        <tr>
                            <th>Subscriber</th>
                            <th>User Effective Date</th>
                            <th>User Expiry Date</th>
                            <th>Subscriber Status</th>
                            <th>Product Specification</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>12938746</td>
                            <td>05.10.1996</td>
                            <td>05.10.2016</td>
                            <td>Active</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>12938746</td>
                            <td>05.10.1996</td>
                            <td>05.10.2016</td>
                            <td>Active</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>12938746</td>
                            <td>05.10.1996</td>
                            <td>05.10.2016</td>
                            <td>Active</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>12938746</td>
                            <td>05.10.1996</td>
                            <td>05.10.2016</td>
                            <td>Active</td>
                            <td>N/A</td>
                        </tr>
                        <tr>
                            <td>12938746</td>
                            <td>05.10.1996</td>
                            <td>05.10.2016</td>
                            <td>Active</td>
                            <td>N/A</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--/component: table-->
                    <div class="padding-whole mobile-hidden">
                        <!--component:select menu-->
                        <div data-component="select" data-alias="lengthMenu"
                             class="form-select form-select--length form-item--inline form-select--small">
                            <select name="length">
                                <option value="10" selected="selected">Vis 10</option>
                                <option value="50">Vis 50</option>
                                <option value="100">Vis 100</option>
                                <option value="500">Vis 500</option>
                            </select>

                            <div class="form-select__field">Vis 10</div>
                        </div>
                        <!--/component:select menu-->
                        <!-- component: pager -->
                        <div class="pager pager--default pull-right" data-component="pager" data-alias="pagination">
                            <a class="pager__button previous" data-selector="page-previous">previous</a>
                        <span data-selector="pages">
                            <a class="pager__button" data-selector="page-button" data-page-number="1">1</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="2">2</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="3">3</a>
                            <a class="pager__button current" data-selector="page-button" data-page-number="4">4</a>
                            <a class="pager__button" data-selector="page-button" data-page-number="5">5</a>
                            <span class="pager__elipsis">…</span>
                            <a class="pager__button" data-selector="page-button" data-page-number="24">24</a>
                        </span>
                            <a class="pager__button next" data-selector="page-next">next</a>
                        </div>
                        <!-- /component: pager -->
                    </div>
                </div>
            </div>
            <!---------- /Subscriber and User Information --------------->
        </div>
        <!------------/container----------------->
    </div>

    <!-------------moblie menu --------------->
    <div class="side-panel desktop-hidden">
        <!--nav-panel-->
        <div class="nav-panel">
            <ul class="nav-mobile__tabset">
                <li class="tabpanel__tab is-active">
                    <a href="javascript:;">Privat</a>
                </li>
            </ul>
            <div class="nav-mobile__tab-holder tabpanel__panels">
                <ul class="nav-mobile__accordion tabs__panel tabpanel__panel is-active">
                    <li><a href="#">Individual Customer </a></li>
                    <li><a href="#">Corporate Customer</a></li>
                    <li><a href="#" class="current">Party</a></li>
                    <li><a href="#">Batch Task</a></li>
                    <li><a href="#">Log Query</a></li>
                    <li><a href="#">Setting</a></li>
                </ul>
            </div>
        </div>
        <!--/nav-panel-->
    </div>
    <!-------------/moblie menu --------------->
</body>
<script type="text/javascript" src="../../../../assets/js/jquery.js"></script>
<script>
    //展开/关闭手机端菜单
    $(".nav-mobile__container .icon-hamburger-menu").click(function(){
        $(".offcanvas").toggleClass("offcanvas--open");
        $(".section--oncanvas").toggleClass("is-disabled");

    })
    //点击非手机端菜单区域隐藏手机端菜单
    $(document).click(function(e){
        var _conMobile = $('.nav-mobile__container,.side-panel');   // 设置目标区域
        if(!_conMobile.is(e.target) && _conMobile.has(e.target).length === 0){
            $(".offcanvas").removeClass("offcanvas--open");
            $(".section--oncanvas").removeClass("is-disabled");
        }
    });


</script>
</html>